<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../flash.js"></script>
</SCRIPT>
<style type="text/css">
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="../images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm}</td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><img src="../images/tit_01_04.gif" width="98" height="29"></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 학과소개 &gt; 교육환경</td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3" ></td>
                    </tr>
                </table></td>
                <td background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="666" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20">&nbsp;</td>
                    <td valign="top"><table width="410" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="../images/sub01_04text01.gif" width="339" height="33"></td>
                      </tr>
                      <tr>
                        <td height="30" class="tvdate">1. 실험실습 환경 구축 - 정보공학관 9층</td>
                      </tr>
                      <tr>
                        <td height="40" class="text09">&nbsp;- 학생 1인당 1PC 제공 등 실험실습 장비의 활용성 증대 <br>
                          &nbsp;- 실험실습 교육을 위한 공간 확보 - 최신 컴퓨터를 갖춘 4개의 실습실</td>
                      </tr>
                      <tr>
                        <td>&nbsp;&nbsp;&nbsp;인터넷 응용 실습실 <br>
                          &nbsp;&nbsp;&nbsp;임베디드 소프트웨어 실습실 <br>
                          &nbsp;&nbsp;&nbsp;영상 소프트웨어 실습실 <br>
                          &nbsp;&nbsp;&nbsp;소프트웨어공학 실습실 </td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td height="30" class="tvdate">2. 보유 기자재 </td>
                      </tr>
                      <tr>
                        <td class="tvdate"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="140"><table border="0" cellspacing="0" cellpadding="0">

                              <tr>
                                <td class="text09">&nbsp;- 소프트웨어 </td>
                              </tr>
                              <tr>
                                <td>&nbsp;&nbsp;&nbsp;Rational Rose 2002, <br>
                                  &nbsp;&nbsp;                          Borland Togerther, <br>
                                  &nbsp;&nbsp; Visibroker, <br>
                                  &nbsp;&nbsp; Oracle, <br>
                                  &nbsp;&nbsp;&nbsp;SQL Server, <br>
                                  &nbsp;&nbsp;                          Delpgi, <br>
                                  &nbsp;&nbsp; Photoshop 7, <br>
                                  &nbsp;&nbsp; Illustrator 10, <br>
                                  &nbsp;&nbsp; Premiere 6 </td>
                              </tr>

                              <tr>
                                <td>&nbsp;</td>
                              </tr>
                            </table></td>
                            <td valign="top"><table border="0" cellspacing="0" cellpadding="0">

                              <tr>
                                <td class="text09">&nbsp;- 하드웨어 </td>
                              </tr>
                              <tr>
                                <td>&nbsp;&nbsp;&nbsp;SUN Workstation, <br>
                                  &nbsp;&nbsp;                          NT 서버 시스템, <br>
                                  &nbsp;&nbsp; 최신사양의 PC 200대 보유, <br>
                                  &nbsp;&nbsp;&nbsp;레고 마인드스톰, <br>
                                  &nbsp;&nbsp;                          타이눅스 박스,<br>
                                  &nbsp;&nbsp; 전자교탁 강의용방송설비 임베디드시스템, </td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                    <td width="229" align="right" valign="top"><img src="../images/sub01_04img01.gif" width="229" height="437"></td>
                  </tr>
                </table></td>
                <td width="33" background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="../images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="../images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="../images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
