<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../flash.js"></script>

<style type="text/css">
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="../images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm}</td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><img src="../images/tit_02_07.gif" width="90" height="29"></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 공학인증 &gt; 위원회</td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3"></td>
                    </tr>
                </table></td>
                <td background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="666" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="../images/sub02_07title01.gif" width="320" height="18"></td>
                  </tr>
                  <tr>
                    <td align="center"><img src="../images/sub02_07img01.gif" width="510" height="281"></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><img src="../images/sub02_07title03.gif" width="320" height="18"></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center"><table width="95%" border="0" cellpadding="0" cellspacing="1" bgcolor="#CCCCCC">
                      <TR borderColor="#000099" bgColor="#b8e1f8">
                        <th height="20" align="center" bgcolor="#E4EFF6" class="text07" title="아래쪽 교육목표, 오른쪽 학습성과">위원회 명 </th>
                        <th align="center" bgcolor="#E4EFF6" class="text07" title="아래쪽 교육목표, 오른쪽 학습성과">주요 업무 </th>
                        </TR>
                      
                      
                      <TR borderColor="#000099">
                        <TD height="25" align="center" bgcolor="#FFFFFF">프로그램 위원회 </TD>
                        <TD height="25" bgcolor="#FFFFFF">ㆍ공학인증 프로그램 운영 및 주요 의결사항 결정<br> 
                          ㆍ학교본부와 공학인증협력센터와의 의견조율<br> 
                          ㆍ인증기준별 CQI에 따른 프로그램 개선<br> 
                          ㆍ학생 상담 및 관찰 시스템 체계적인 운영 <br>
                          ㆍ교육목표 수립 및 개선, 학습성과 설정 및 개선<br> 
                          ㆍ교과과정 편성과 개선, 교과목 CQI 검토 및 분석<br> 
                          ㆍ설계 교과목 운영 및 개선, 교육환경 구축 및 개선 <br>
                          ㆍ재학생 학업성취도 조사 및 분석, 재학생 강의평가 분석 <br>
                          ㆍ재학생 상담 및 관찰 결과 분석, 학습성과 달성여부 평가<br> 
                          ㆍ재학생, 졸업생, 산업체 고용주 설문조사 실시 </TD>
                        </TR>
                      <TR borderColor="#000099">
                        <TD height="25" align="center" bgcolor="#FFFFFF">산학자문 위원회 </TD>
                        <TD height="25" bgcolor="#FFFFFF">ㆍ학과 발전 계획 수립, 산업체 동향 분석 <br>
                          ㆍ재학생과 졸업생 취업 지도, 취업률 조사 및 분석<br> 
                          ㆍ인턴쉽 프로그램, 산업체 전문가 멘토제 운영 <br>
                          ㆍ교육목표, 학습성과, 교과과정에 대한 산업체 인사 자문 분석 </TD>
                        </TR>

                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><img src="../images/sub02_07title02.gif" width="320" height="18"></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="3"></td>
                      </tr>
                      <tr>
                        <td width="30">&nbsp;</td>
                        <td class="text04"><span class="text10">1) 프로그램위원회 운영세칙</span> <br>
                            <br>
                            <span class="text07">제1조(목적)</span> 컴퓨터소프트웨어공학과의 교육품질을 향상시키고 한국공학교육인증원의 인증기준에 부합하는 프로그램의 운영과 개선에 관한 사항을 논의 또는 의결하기 위해 프로그램위원회(이하 위원회)를 둔다. <br>
                            <br>
제2조(기능) 위원회는 제1조의 목적을 달성하기 위해 다음 사항을 심의 의결한다. <br>
1. 프로그램의 운영에 대한 사항 <br>
2. 프로그램의 교육목표 설정에 관한 사항<br>
3. 프로그램 교육목표 달성 및 평가에 관한 사항<br>
4. 프로그램의 학습 성과 설정에 관한 사항<br>
5. 프로그램 학습 성과 달성 및 평가에 관한 사항<br>
6. 프로그램의 교육과정 편성, 운영, 개편에 관한 사항<br>
7. 프로그램의 교육품질 향상을 위한 학생, 교수, 교육시설 및 재원, 교육환경의 개선에 관한 사항<br>
8. 프로그램 자체보고서 작성에 관한 사항 <br>
9. 기타 프로그램과 관련한 사항 <br>
<br>
<span class="text07">제3조(구성)</span> 위원회는 컴퓨터소프트웨어공학과 교수로 구성되고, 위원장은 학과장을 원칙으로 하며, 위원장은 간사를 임명하여 운영할 수 있다. <br>
<br>
<span class="text07">제4조(회의)</span> 회의는 학기 말에 소집하며, 필요에 따라 위원장이 수시로 소집할 수 있다. <br>
<br>
<span class="text07">제5조(보칙)</span> 이 규정에 정하지 않은 사항은 프로그램위원회의 결정에 따른다. <br>
<br>
<span class="text10">부  칙</span> <br>
1. 이 내규는 2006년 11월 1일부터 시행한다.<br>
2. 이 변경 내규는 2007년 3월 1일부터 시행한다. <br>
                            <br>
                            <br>
                            <span class="text10">2) 산학자문위원회 운영세칙</span> <br>
                            <br>
                            <span class="text07">제1조(목적)</span> 컴퓨터소프트웨어공학 프로그램에 대한 산업체의 의견을 수렴하고 반영하며, 프로그램의 교육목표, 학습 성과 및 교과과정의 적정성을 자문하며, 산학교류에 관한 사항을 담당하는 것을 목적으로 산학자문위원회(이하 위원회)를 둔다. <br>
                            <br>
                            <span class="text07">제2조(기능)</span> 제1조의 목적을 달성하기 위하여 다음 사항을 수행한다. <br>
1. 프로그램의 교육목표 및 학습 성과가 산업체 요구에 부합하는지 검토하고 자문한다. <br>
2. 프로그램의 교과과정을 통해 교육목표 및 학습 성과가 적절하게 달성되고 있는지 검토하고 자문한다. <br>
3. 종합설계에 대한 평가를 통해 산업체가 요구하는 설계 교육이 이루어지고 있는지 검토하고 자문한다. <br>
<br>
<span class="text07">제3조(구성)</span> 위원회는 다음과 같이 구성한다. <br>
1. 위원회의 위원은 프로그램 교수 2인 이상과 산업체 인사 4인 이상으로 구성한다. <br>
2. 위원장과 위원은 프로그램위원회를 통해 프로그램 위원장이 임명한다. <br>
3. 산업체 위원은 교수들의 추천으로 프로그램위원회를 통해 프로그램 위원장이 임명한다. <br>
<br>
<span class="text07">제4조(회의)</span> 위원회는 1회/년&nbsp;소집하며, 필요에 따라 위원장이 수시로 소집할 수 있다. <br>
<br>
<span class="text07">제5조(보칙)</span> 이 규정에 정하지 않은 사항은 프로그램위원회의 결정에 따른다. <br>
<br>
<span class="text10">부  칙</span> <br>
1. 이 내규는 2006년 11월 1일부터 시행한다. <br>
2. 이 변경 내규는 2007년 3월 1일부터 시행한다. <br>
3. 이 변경 내규는 2014년 3월 1일부터 시행한다.<br>
<br></td>
                        <td width="30" class="text04">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
                <td width="33" background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="../images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="../images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="../images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
