<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../flash.js"></script>

<style type="text/css">
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="../images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm}</td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><img src="../images/tit_02_05.gif" width="100" height="29"></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 공학인증 &gt; 학습성과</td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3"></td>
                    </tr>
                </table></td>
                <td background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="666" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><table width="95%" border="0" cellpadding="0" cellspacing="1" bgcolor="#CCCCCC">
                      <TR bgColor="#E4EFF6">
                        <TD width="35" height="24" align="center" bgcolor="#E4EFF6" class="tvdate"><p align="center">번호</p></TD>
                        <TD height="24" colSpan="2" align="center" bgcolor="#E4EFF6" class="tvdate" width="594">학습성과 및 수행준거( 이행수준 및 평가 도구 )</TD>
                      </TR>
                                                                <TR bgColor="white" height="22">
                                                                    <TD rowSpan="3" align="center" class="text07" bgColor="#E4EFF6" width="35">
                                                                        <p>(1) <span style="font-family:굴림;mso-fareast-font-family:굴림;">지식 응용</span></p>
                                                                    </TD>
                        <TD align="center" bgColor="#E4EFF6" width="53">학습<br>성과</TD>
                                                                    <TD class="text01" width="540">
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">수학</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">, </span><span style="font-family:굴림;mso-fareast-font-family:굴림;">기초과학</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">,
</span><span style="font-family:굴림;mso-fareast-font-family:굴림;">인문 소양 및 컴퓨터공학 지식을 컴퓨팅 분야의 문제해결에 응용할 수 있는 능력</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR height="22">
                                                                    <TD width="53" align="center" bgColor="#E4EFF6">수행<BR>
                          준거</TD>
                                                                    <TD width="540" class="text01" bgColor="#FFFFFF">
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨터소프트웨어공학 문제를 해결하는데 필요한 적절한 수학</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">, </span><span style="font-family:굴림;mso-fareast-font-family:굴림;">과학적
지식의 개념과 원리 및 다양한 전문교양</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">, </span><span style="font-family:굴림;mso-fareast-font-family:굴림;">전공분야의 지식들을 이해하고 이를 적용하여 응용할 수 있다</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">.</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR bgColor="#E4EFF6" height="22">
                        <TD align="center" width="53">평가<br>도구</TD>
                                                                    <TD class="text01" width="540"> 
                                                                        <p>설문조사, 종합설계(졸업과제)</p>
                                                                    </TD>
                                                                </TR>
                      
                                                                <TR bgColor="white" height="22">
                                                                    <TD rowSpan="3" align="center" class="text07" bgColor="#E4EFF6" width="35">
                                                                        <p>(2) <span style="font-family:굴림;mso-fareast-font-family:굴림;">구현 검증</span></p>
                                                                    </TD>
                        <TD align="center" bgColor="#E4EFF6" width="53">학습<br>성과</TD>
                                                                    <TD class="text01" width="540">
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">이론이나 알고리즘을 수식 또는 프로그래밍을 통해 검증할 수 있는 능력 </span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR height="22">
                                                                    <TD width="53" align="center" bgColor="#E4EFF6">수행<BR>
                          준거</TD>
                                                                    <TD width="540" class="text01" bgColor="#FFFFFF">
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨터소프트웨어공학 관련 문제들에서 주어지는 이론이나 알고리즘의 정확성을 수학적 방법 또는 다양한 언어를 통한 프로그래밍으로 실제 구현하여 검증할 수 있다</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">.
</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR bgColor="#E4EFF6" height="22">
                        <TD align="center" width="53">평가<br>도구</TD>
                                                                    <TD class="text01" width="540"> 설문조사, 종합설계(졸업과제)  </TD>
                                                                </TR>
                      
                      
                                                                <TR bgColor="white" height="22">
                                                                    <TD rowSpan="3" align="center" class="text07" bgColor="#E4EFF6" width="35">
                                                                        <p>(3) <span style="font-family:굴림;mso-fareast-font-family:굴림;">모델링</span></p>
                                                                    </TD>
                        <TD align="center" bgColor="#E4EFF6" width="53">학습<br>성과</TD>
                                                                    <TD class="text01" width="540"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨팅 분야의 문제를 정의하고 모델링할 수 있는 능력</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR height="22">
                                                                    <TD width="53" align="center" bgColor="#E4EFF6">수행<BR>
                          준거</TD>
                                                                    <TD width="540" class="text01" bgColor="#FFFFFF"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨터소프트웨어공학에서 다양한 문제 상황과 자료의 내용을 충분히 이해하고 분석하여 해당 문제를 정의할 수 있고</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">,
</span><span style="font-family:굴림;mso-fareast-font-family:굴림;">정의된 문제 해결을 위한 모델링을 할 수 있다</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">.</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR bgColor="#E4EFF6" height="22">
                        <TD align="center" width="53">평가<br>도구</TD>
                                                                    <TD class="text01" width="540"> 설문조사, 종합설계(졸업과제)  </TD>
                                                                </TR>
                      
                      
                      
                      
                                                                <TR bgColor="white" height="22">
                                                                    <TD rowSpan="3" align="center" class="text07" bgColor="#E4EFF6" width="35">
                                                                        <p>(4) <span style="font-family:굴림;mso-fareast-font-family:굴림;">도구 활용</span></p>
                                                                    </TD>
                        <TD align="center" bgColor="#E4EFF6" width="53">학습<br>성과</TD>
                                                                    <TD class="text01" width="540">
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨팅 분야의 문제를 해결하기 위해 최신 정보</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">, </span><span style="font-family:굴림;mso-fareast-font-family:굴림;">연구 결과</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">,
</span><span style="font-family:굴림;mso-fareast-font-family:굴림;">프로그래밍 언어를 포함한 적절한 도구 등을 활용할 수 있는 능력 </span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR height="22">
                                                                    <TD width="53" align="center" bgColor="#E4EFF6">수행<BR>
                          준거</TD>
                                                                    <TD width="540" class="text01" bgColor="#FFFFFF"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨터소프트웨어공학 문제의 해결을 위하여 컴퓨터소프트웨어공학 분야의 최신 기술 및 개발 정보와 연구 결과들을 수집하고 이해하여 활용할 수 있으며</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">,
</span><span style="font-family:굴림;mso-fareast-font-family:굴림;">다양한 프로그래밍 언어와 소프트웨어 개발도구들을 충분히 익혀 적절하게 활용할 수 있다</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">. </span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR bgColor="#E4EFF6" height="22">
                        <TD align="center" width="53">평가<br>도구</TD>
                                                                    <TD class="text01" width="540"> 설문조사,종합설계(졸업과제)</TD>
                                                                </TR>
                      
                      
                                                                <TR bgColor="white" height="22">
                                                                    <TD rowSpan="3" align="center" class="text07" bgColor="#E4EFF6" width="35">
                                                                        <p>(5) <span style="font-family:굴림;mso-fareast-font-family:굴림;">응용설계</span></p>
                                                                    </TD>
                        <TD align="center" bgColor="#E4EFF6" width="53">학습<br>성과</TD>
                                                                    <TD class="text01" width="540"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">사용자 요구사항과 현실적 제한조건을 고려하여 하드웨어 또는 소프트웨어 시스템을 설계할 수 있는 능력 </span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR height="22">
                                                                    <TD width="53" align="center" bgColor="#E4EFF6">수행<BR>
                          준거</TD>
                                                                    <TD width="540" class="text01" bgColor="#FFFFFF"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨터소프트웨어공학 분야의 주어진 문제에 대해 사용자의 요구사항과 현실적인 제한조건을 이해하고 분석하여 정확히 파악할 수 있으며</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">,
</span><span style="font-family:굴림;mso-fareast-font-family:굴림;">이러한 내용을 반영하여 하드웨어 또는 소프트웨어 시스템을 설계할 수 있다</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">. </span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR bgColor="#E4EFF6" height="22">
                        <TD align="center" width="53">평가<br>도구</TD>
                                                                    <TD class="text01" width="540"> 설문조사, 종합설계(졸업과제)  </TD>
                                                                </TR>
                      
                      
                      
                                                                <TR bgColor="white" height="22">
                                                                    <TD rowSpan="3" align="center" class="text07" bgColor="#E4EFF6" width="35">
                                                                        <p>(6) <span style="font-family:굴림;mso-fareast-font-family:굴림;">팀웍능력</span></p>
                                                                    </TD>
                        <TD align="center" bgColor="#E4EFF6" width="53">학습<br>성과</TD>
                                                                    <TD class="text01" width="540"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨팅 분야의 문제를 해결하는 과정에서 팀 구성원으로서 팀 성과에 기여할 수 있는 능력</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR height="22">
                                                                    <TD width="53" align="center" bgColor="#E4EFF6">수행<BR>
                          준거</TD>
                                                                    <TD width="540" class="text01" bgColor="#FFFFFF"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨터소프트웨어공학 분야의 팀 단위 프로젝트 수행에서 자기 임무와 역할을 충분히 이해하고 수행할 수 있으며</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">,
</span><span style="font-family:굴림;mso-fareast-font-family:굴림;">구성원의 의견을 종합하여 업무 수행을 위한 전략을 수립하고 협동을 통해 효과적으로 프로젝트를 완수할 수 있다</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">.</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR bgColor="#E4EFF6" height="22">
                        <TD align="center" width="53">평가<br>도구</TD>
                                                                    <TD class="text01" width="540"> 설문조사, 종합설계(졸업과제)  </TD>
                                                                </TR>
                      
                      
                      
                      
                                                                <TR bgColor="white" height="22">
                                                                    <TD rowSpan="3" align="center" class="text07" bgColor="#E4EFF6" width="35">
                                                                        <p>(7) <span style="font-family:굴림;mso-fareast-font-family:굴림;">의사소통</span></p>
                                                                    </TD>
                        <TD align="center" bgColor="#E4EFF6" width="53">학습<br>성과</TD>
                                                                    <TD class="text01" width="540"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">다양한 환경에서 효과적으로 의사소통할 수 있는 능력 </span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR height="22">
                                                                    <TD width="53" align="center" bgColor="#E4EFF6">수행<BR>
                          준거</TD>
                                                                    <TD width="540" class="text01" bgColor="#FFFFFF"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">자신의 생각과 주장하는 바를 적절하게 논술할 수 있고 청중 앞에서 논리적으로 발표할 수 있으며 논쟁거리에 대해 상대방의 의견을 충분히 이해하고 적절히 대응하여 의사소통할 수 있다</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">.</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR bgColor="#E4EFF6" height="22">
                        <TD align="center" width="53">평가<br>도구</TD>
                                                                    <TD class="text01" width="540"> 설문조사, 심층면담  </TD>
                                                                </TR>
                      
                      
                      
                                                                <TR bgColor="white" height="22">
                                                                    <TD rowSpan="3" align="center" class="text07" bgColor="#E4EFF6" width="35">
                                                                        <p>(8) <span style="font-family:굴림;mso-fareast-font-family:굴림;">환경영향</span></p>
                                                                    </TD>
                        <TD align="center" bgColor="#E4EFF6" width="53">학습<br>성과</TD>
                                                                    <TD class="text01" width="540"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨팅 분야의 해결방안이 안전</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">, </span><span style="font-family:굴림;mso-fareast-font-family:굴림;">경제</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">,
</span><span style="font-family:굴림;mso-fareast-font-family:굴림;">사회</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">, </span><span style="font-family:굴림;mso-fareast-font-family:굴림;">환경 등에 미치는 영향을 이해할 수 있는 능력</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR height="22">
                                                                    <TD width="53" align="center" bgColor="#E4EFF6">수행<BR>
                          준거</TD>
                                                                    <TD width="540" class="text01" bgColor="#FFFFFF"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨터소프트웨어공학 분야 엔지니어의 입장에서 본인이 선택한 공학적 해결 방안이 안전</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">, </span><span style="font-family:굴림;mso-fareast-font-family:굴림;">경제</span><span
lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">, </span><span style="font-family:굴림;mso-fareast-font-family:굴림;">사회 및 환경 등에 미치는 영향을 종합적으로 분석</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">, </span><span style="font-family:굴림;mso-fareast-font-family:굴림;">평가할 수 있다</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">.</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR bgColor="#E4EFF6" height="22">
                        <TD align="center" width="53">평가<br>도구</TD>
                                                                    <TD class="text01" width="540"> 설문조사, 에세이</TD>
                                                                </TR>
                      
                      
                      
                                                                <TR bgColor="white" height="22">
                                                                    <TD rowSpan="3" align="center" class="text07" bgColor="#E4EFF6" width="35">
                                                                        <p>(9) <span style="font-family:굴림;mso-fareast-font-family:굴림;">직업윤리</span></p>
                                                                    </TD>
                        <TD align="center" bgColor="#E4EFF6" width="53">학습<br>성과</TD>
                                                                    <TD class="text01" width="540"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨터공학인으로서의 직업윤리와 사회적 책임을 이해할 수 있는 능력</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR height="22">
                                                                    <TD width="53" align="center" bgColor="#E4EFF6">수행<BR>
                          준거</TD>
                                                                    <TD width="540" class="text01" bgColor="#FFFFFF"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨터소프트웨어공학 관련 사회적 윤리문제들을 구체적 예시를 들어 설명할 수 있으며 사회적인 책임감과 윤리 의식을 실천할 수 있다</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">.</span></p>
                                                                    </TD>
                                                                </TR>
                      <TR bgColor="#E4EFF6" height="22">
                        <TD align="center" width="53">평가<br>도구</TD>
                        <TD class="text01" width="540"> 설문조사, 에세이</TD>
                      </TR>
                      
                      
                      
                      
                                                                <TR bgColor="white" height="22">
                                                                    <TD rowSpan="3" align="center" class="text07" bgColor="#E4EFF6" width="35">
                                                                        <p>(10) <span style="font-family:굴림;mso-fareast-font-family:굴림;">평생교육</span></p>
                                                                    </TD>
                        <TD align="center" bgColor="#E4EFF6" width="53">학습<br>성과</TD>
                                                                    <TD class="text01" width="540"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">기술환경 변화에 따른 자기계발의 필요성을 인식하고 지속적이고 자기주도적으로 학습할 수 있는 능력</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR height="22">
                                                                    <TD width="53" align="center" bgColor="#E4EFF6">수행<BR>
                          준거</TD>
                                                                    <TD width="540" class="text01" bgColor="#FFFFFF"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨터소프트웨어공학 분야의 빠른 기술환경 변화를 이해하고 대학 정규교육 이외의 자기계발의 필요성을 인식할 수 있으며</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">,
</span><span style="font-family:굴림;mso-fareast-font-family:굴림;">이러한 인식을 바탕으로 엔지니어로서 자신의 미래에 필요한 내용을 개별 학습뿐만 아니라 전문학회 및 교육에 스스로 참여하는 지속적인 자기주도 학습을 실천할 수 있다</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">. </span></p>
                                                                    </TD>
                                                                </TR>
                      <TR bgColor="#E4EFF6" height="22">
                        <TD align="center" width="53">평가<br>도구</TD>
                        <TD class="text01" width="540"> 설문조사, 심층면담</TD>
                      </TR>
                      
                      
                      
                      
                      
                                                                <TR bgColor="white" height="22">
                                                                    <TD rowSpan="3" align="center" class="text07" bgColor="#E4EFF6" width="35">
                                                                        <p>(11) <span style="font-family:굴림;mso-fareast-font-family:굴림;">국제활동</span></p>
                                                                    </TD>
                        <TD align="center" bgColor="#E4EFF6" width="53">학습<br>성과</TD>
                                                                    <TD class="text01" width="540"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">외국어로 국제적으로 소통할 수 있는 능력</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR height="22">
                                                                    <TD width="53" align="center" bgColor="#E4EFF6">수행<BR>
                          준거</TD>
                                                                    <TD width="540" class="text01" bgColor="#FFFFFF"> 
                                                                        <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">컴퓨터소프트웨어공학 분야의 외국어로 된 기술 관련 자료들을 이해할 수 있고</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">, </span><span style="font-family:굴림;mso-fareast-font-family:굴림;">관련
자료들을 주제로 외국어로 적절하게 의사소통할 수 있다</span><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">.</span></p>
                                                                    </TD>
                                                                </TR>
                                                                <TR bgColor="#E4EFF6" height="22">
                        <TD align="center" width="53">평가<br>도구</TD>
                                                                    <TD class="text01" width="540">
                                                                        <p>설문조사, 심층면담, 공인외국어능력 평가성적(선택적) </p>
                                                                    </TD>
                                                                </TR>
                      
                      
                      
                      
                      
                      
                      
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><img src="../images/sub02_05title01.gif" width="320" height="18"></td>
                  </tr>
                  <tr>
                    <td>
					<img src="relationship-01.png" style="width:635px"/>  <!-- LJM 130409 : 전문교양 교과목 - 학습성과 상관 관계 -->
					</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>
					<img src="relationship-02.png" style="width:635px"/>  <!-- LJM 130409 : BSM 교과목 - 학습성과 상관 관계 -->
					</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>
					<img src="relationship-03.png" style="width:635px"/>  <!-- LJM 130409 : 전공 교과목 - 학습성과 상관 관계 -->
					</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
				  <tr>
                    <td>
				  <img src="relationship-04.png" style="width:635px"/>  <!-- LJM 130409 : 전공 교과목 - 학습성과 상관 관계 -->
					</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><img src="../images/sub02_05title02.gif" width="320" height="18"></td>
                  </tr>
                  <tr>
                    <td>
					<img src="relationship-05.png" style="width:635px"/>  <!-- LJM 130409 : 비교과목 - 학습성과 상관 관계 -->
					</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
                <td width="33" background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="../images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="../images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="../images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
