<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../flash.js"></script>

<style type="text/css">
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="../images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm}</td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><img src="../images/tit_02_08.gif" width="175" height="29"></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 공학인증 &gt; 인증기준 (KCC2015)</td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3"></td>
                    </tr>
                </table></td>
                <td background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="666" border="0" cellspacing="0" cellpadding="0">

                  <tr>
                    <td><img src="../images/sub02_08title01.gif" width="320" height="18"></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="10" colspan="3"></td>
                        </tr>
                        <tr>
                          <td width="30">&nbsp;</td>
                          <td class="text04"><p class="text07">공학교육인증을 받고자하는 컴퓨터․정보기술 분야의 교육 프로그램은 4년이상의 교육과정으로 구성되어 있고 다음의 8개 기준을 만족하여야 한다. 컴퓨터 정보기술 분야의 교육 프로그램은 수요지향 교육 및 성과중심 교육 체계를 갖추어야 한다.</p>
                            <p><span class="text09">1) 프로그램 교육목표<br>
                              2) 프로그램 학습성과 및 평가<br>
                              3) 교과영역<br>
                              4) 학생<br>
                              5) 교수진<br>
                              6) 교육환경<br>
                              7) 교육개선<br>
                              8) 전공분야별 인증기준 </span><br>
                            </p>
                            <p><span class="text10">기준 1. 프로그램 교육목표</span><br>
                              컴퓨터 정보기술교육 프로그램은 교육목표를 설정하고 관리하여야 한다.</p>
                            <p><span class="text07">세부기준</span><br>
							(1) 교육목표는 프로그램의 졸업생이 활동할 산업체를 포함한 구성원의 요구를 반영하여 교육기관의 특성에 부합되도록 설정되어야 한다.<br>
                            (2) 교육목표는 공식적으로 공개되어야 한다.<br>
                            (3) 교육목표의 성취도를 정기적으로 측정하여야 한다.</p>
                            <p>&nbsp;</p>
                            <p><span class="text10">기준 2. 프로그램 학습성과 및 평가</span><br>
                              컴퓨터 정보기술교육 프로그램은 학생이 졸업 시 갖추어야 할 능력과 자질을 나타내는 학습성과를 적절히 설정하고 그 성취도를 적합한 절차에 따라 측정하여야 한다. 학습성과에는 다음과 같은 항목들이 포함되어야 하며, 필요한 경우 자체적으로 정의한 학습성과가 추가될 수 있다.</p>
                            <p><span class="text07">세부기준</span><br>
                              (1) 수학, 기초과학, 전문교양에서 습득한 이론과 지식을 전공에 응용할 수 있는 능력<br>
							  (2) 주어진 문제와 자료를 분석하고 요구사항을 이해하여 모델링할 수 있는 능력<br>
							  (3) 요구사항을 반영하여 제한조건을 만족할 수 있도록 프로젝트&sect;를 계획하고 수행할 수 있는 능력<br>
							  (4) 컴퓨터 정보기술 관련 실무에 필요한 기술, 방법, 최신 도구를 사용할 수 있는 능력<br>
							  (5) 복합 학제적 팀의 한 구성원으로서 역할을 수행할 수 있는 능력<br>
							  (6) 효과적으로 의사소통을 할 수 있는 능력<br>
							  (7) 평생학습의 필요성을 인식하고 이에 능동적으로 참여할 수 있는 능력<br>
							  (8) 컴퓨터․정보기술 해결방안이 세계적, 경제적, 환경적, 사회적 상황에 미치는 영향을 이해할 수 있는 폭넓은 지식<br>
							  (9) 시사적 논점들에 대한 기본 지식<br>
							  (10) 직업적 책임과 윤리적 책임에 대한 인식<br>
							  (11) 세계문화에 대한 이해와 국제적으로 협동할 수 있는 능력</p>
                            <p>&nbsp;</p>
                            <p><span class="text10">기준 3. 교과영역</span><br>
                              교과과정은 프로그램의 교육목표 및 학습성과를 달성할 수 있도록 체계적으로 구성되고 관리되어야 한다. 또한 교과과정은 졸업생이 충분한 프로젝트 경험을 쌓을 수 있eh록 적절하게 편성되어야 한다. 교과영역 별 최소 이수요건은 다음과 같다.</p>
                            <p><span class="text07">세부기준</span><br>
                             (1) 교육목표를 달성할 수 있는 교육과정이 수립되어야 한다.<br>
							 (2) 수학과 기초과학 교과목을 15학점&sect;&sect; 이상으로 적절히 구성되어야 한다. 기초과학은 생물 분야, 화학 분야, 물리 분야 그리고 지구과학 분야로 정의한다.<br>
							 (3) 전공 교과목은 프로젝트 교육과정을 포함하여 60학점 이상으로 한다. 프로젝트교육과정에는 기초프로젝트와 종합프로젝트 등이 포함되어야 하며, 종합프로젝트 교과목은 학생이 교육과정을 통하여 배운 지식과 능력을 활용하여 공학실무에서 요구되는 프로젝트 경험을 축적할 수 있도록 하여야 한다.<br>
							 (4) 프로그램 교육목표와 학습성과를 달성하기 위하여 언어 관련 교과목을 제외한 인문, 사회과학, 예술 및 기타 학문분야 교과목을 15학점 이상으로 한다.<br>
                            <p>&nbsp;</p>
                            <p><span class="text10">기준 4. 학생</span><br>
                            학생 및 졸업생의 자질과 능력은 프로그램을 평가하는데 있어서 중요한 요소이다. 따라서 컴퓨터 정보기술교육 프로그램은 교육목표에 부합되도록 모든 학생들을 지도해야 한다.</p>
							 <p><span class="text07">세부기준</span><br>
                             (1) 학생에 대한 체계적인 평가가 이루어져야 한다.<br>
							 (2) 프로그램 이수, 수강, 진로 등에 대한 상담의 기회가 모든 학생들에게 제공되어야 한다.<br>
							 (3) 학업과 다양한 학생활동에 대하여 적절한 관찰이 있어야 한다.<br>
							 (4) 전입생(프로그램으로 중도 진입하는 편입생, 전과생, 복학생 등)을 위한 수용 정책과 취득학점 인정 절차가 있어야 한다.<br>
							 (5) 졸업생이 프로그램의 모든 요구사항을 충족하였음을 보장할 수 있는 기준 및 절차가 수립되어 있어야 한다. (단 여기서 졸업생은 졸업 직전의 학생을의미함)<br>
                            <p>&nbsp;</p>
                            <p><span class="text10">기준 5. 교수진</span><br>
                              교수진은 프로그램의 연속성 및 안정성을 보장하고, 프로그램 인증 유지를 위해 필요한 전문가적인 자질을 갖추어야 한다.</p>
                            <p><span class="text07">세부기준</span><br>
                             (1) 교수진은 교육과정의 모든 영역을 충실히 다룰 수 있도록 구성되어야 한다.<br>
							 (2) 교수진은 학생들을 충실히 지도할 수 있도록 구성되어야 한다.<br>
							 (3) 교수진은 교육방법을 포함한 전문능력의 자기계발 노력이 있어야 한다.<br>
							 (4) 교수진은 산업체 및 전문 직업인과의 유대가 있어야 한다.<br>
							 (5) 교수의 교육개선 활동이 교수의 업적평가에 실질적으로 반영되어야 한다.<br>
                            <p>&nbsp;</p>
                            <p><span class="text10">기준 6. 교육환경</span><br>
                              교육기관은 프로그램 교육목표 달성을 위한 행정체계와 교육환경을 제공하여야한다.</p>
                            <p><span class="text07">세부기준</span><br>
                            (1) 프로그램의 원활한 운영을 위한 행정체계가 있어야 한다.<br>
							(2) 교과과정의 효율적 운영을 위한 공간, 시설, 장비가 충분하여야 한다.<br>
							(3) 프로그램의 운영과 지속적인 발전을 위한 재정지원이 충분하여야 한다.<br>
							(4) 프로그램 운영을 위한 행정 및 교육보조 인력이 충분하여야 한다.<br>
                            <p>&nbsp;</p>
                            <p><span class="text10">기준 7. 교육개선</span><br>
                              프로그램에서는 문서화에 의거한 지속적인 품질 개선 활동이 있어야 한다.</p>
                            <p><span class="text07">세부기준</span><br>
                            (1) 이전 평가에서 지적된 항목에 대하여 개선된 실적이 있어야 한다.<br>
							(2) 프로그램 교육목표 및 학습성과의 성취도를 정기적으로 분석하여 프로그램 개선을 위한 활동이 이루어져야 한다.<br>
                            <p>&nbsp;</p>
                            <p><span class="text10">기준 8. 전공분야별 기준</span><br>
                              각 프로그램은 적용 대상이 되는 다음의 전공분야별 인증기준을 만족시켜야 한다. 적용대상이 되는 프로그램은 아래에 열거한 것과 같은 대분류로 분류할 수 있으며, 이 대분류는 상황에 따라 변경이 가능하다. 대분류에 속하지 않은 프로그램도 인증 가능하며, 각 교육기관에 따라 교육 프로그램과 학사행정 단위가 일치하지 않는 경우에는 소 프로그램 단위로 인증이 가능하다. 만약 프로그램이 그 명칭 때문에 두 개 또는 그 이상의 전공분야별 인증기준을 포함하게 된다면, 그 프로그램은 각각의 전공분야별 인증기준을
만족시켜야 한다. 단, 중복되는 요구 사항들은 한 번만 만족시키면 된다.</p>
<p>각 프로그램은 적용 대상이 되는 다음의 전공분야별 인증기준을 만족시켜야 한다.</p>
                            <p>- 컴퓨터(공)학 및 유사 명칭 프로그램에 대한 인증기준 </p>
							
                            <p>컴퓨터(공)학 및 유사 명칭 공학 프로그램에 대한 인증기준<br>
                              PROGRAM CRITERIA FOR COMPUTER AND SIMILARLY NAMED ENGINEERING PROGRAMS)<br>
							  한국정보과학회 주관으로 제출됨.</p>
                            <p><span class="text07">1. 적용</span><br>
                              본 전공분야 인증기준은 컴퓨터(공)학 및 유사 명칭 프로그램에 적용한다.<br>
                            </p>
                            <p><span class="text07">2. 교수진</span><br>
                              교수진은 본 프로그램에 대한 깊이 있는 지식을 갖추어야 하며, 관련 전문 분야에 대해 실무를 이해하고 기술동향을 파악하고 있어야 한다. 또한 대부분의 전임교수진은 컴퓨터(공)학 분야의 박사학위를 소지하여야 한다. 교수진은 프로그램의 목표를 정의하고, 수정하고, 적용하고, 성취할 수 있는 책임감과 권위를 가져야 한다.<br>
                            </p>
                            <p><span class="text07">3. 교과과정</span><br>
							<p><span class="text07">1) 교과과정 편성</span><br>
                            (1) 교과과정은 수학 분야에서 이산수학을 포함하여야 한다.<br>
							(2) 교과과정은 기초과학 분야의 교과목을 최소한 6학점을 포함하여야 한다.<br>
							(3) 교과과정은 기초과학 분야의 교과목 중 최소한 한 교과목은 실험을 반드시 포함하여야 한다.<br>
							(4) 교과과정은 컴퓨터 정보기술 주제의 교과목으로 알고리즘, 자료구조, 소프트웨어 설계, 프로그래밍 언어의 개념, 컴퓨터 구조, 운영체제, 컴퓨터네트워크,데이터베이스 중 최소 5개 교과목을 포함하여야 한다.<br>
                            
							<p><span class="text07">2) 교과목의 이수</span><br>
							(1) 학생들이 반드시 이수하여야 하는 교과목은 최소한 18학점&sect;의 수학 분야와 기초과학 분야 교과목을 포함하여야 한다.<br>
							(2) 학생들이 반드시 이수하여야 하는 교과목은 기초과학 분야의 실험이 포함된 교과목을 포함하여야 한다.<br>
							(3) 학생들은 컴퓨터 하드웨어, 소프트웨어 그리고 컴퓨터시스템에 관련된 교과목을 이수하여야 한다.<br>
							(4) 학생들은 기초프로젝트와 종합프로젝트를 포함하여 12학점 이상의 프로젝트 교과목을 이수하여야 한다.<br>
                            
                              </p>
                            <p></p>                            <p class="text10"><br>
                              <br>
                            </p>                              </td>
                          <td width="30" class="text04">&nbsp;</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
                <td width="33" background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="../images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="../images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="../images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
