<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="/front/template/css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/front/template//flash.js"></script>

<style type="text/css">
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="/front/template/images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm}</td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="/front/template/images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><img src="/front/template/images/tit_02_03.gif" width="104" height="29"></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 공학인증 &gt; 교육목표</td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3"></td>
                    </tr>
                </table></td>
                <td background="/front/template/images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="/front/template/images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="666" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="/front/template/images/sub02_03title01.gif" width="150" height="18"></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="3"></td>
                        </tr>
                      <tr>
                        <td width="30">&nbsp;</td>
                        <td class="tvdate">
ICT공과대학은 진리, 정의, 창의 정신을 바탕으로 윤리의식과 책임의식을 갖추고 지식정보화사회에 기여하는 IT분야와 디지털 미디어분야의 실무 전문 인력양성을 교육목표로 한다. 이를 위하여 기초과학에 대한 전반적인 통찰과 IT 및 디지털 문화에 대한 깊은 이해로부터 창의적 개발 능력과 전문적 실무 능력, 그리고 정보화.글로벌화에 능동적으로 대처하는 능력을 배양하는 전문교육을 실현한다.</td>
                        <td width="30" class="tvdate">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td colspan="2" class="text04"><br>
                          1. 기초과학과 공학기반 교육: 풍부한 기초과학 및 공학기반 교육으로 전공 응용 능력 배양 <br>
                          <br>
                          2. 현장중심의 창의적 기술인: 산업현장 중심의 실무 교육으로 폭 넓은 적응 능력을 갖춘 전문 지식인 양성 <br>
                          <br>
                          3. 책임감 있는 건전한 사회인: 인성교육을 토대로 윤리의식과 책임의식을 갖춘 건전한 사회인 양성 <br>
                          <br>
                          4. 지역 및 국가산업을 선도하는 지도자: 국제 정보화 사회에서 지역과 국가산업 발전에 선도적역할을  수행할 수 있는 전문 지도자 양성 </td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><img src="/front/template/images/sub02_03title02.gif" width="200" height="18"></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="2"></td>
                      </tr>
                      <tr>
                        <td width="30">&nbsp;</td>
                        <td class="tvdate">컴퓨터소프트웨어공학과는 인터넷, 정보보호, 멀티미디어 처리, 소프트웨어공학, 임베디드 소프트웨어 등 다양한 컴퓨터 소프트웨어에 대한 폭넓은 이해를 위해 기초과학, 컴퓨터 소프트웨어 공학 기술, 소프트웨어 도구 활용 능력을 바탕으로 한 공학 기초 능력과 도구 활용 능력을 배양하고 습득한 지식과 창의적인 사고를 발휘하여 다양한 공학 분야에 응용할 수 있고, 종합적으로 설계할 수 있는 능력을 배양함과 동시에 관련 산업체와 연구기관 등에서
필요로 하는 실무
수행 능력과 효과적으로 의사를 전달 할 수 있는 능력을 배양하고 건전한 윤리의식과 책임의식을 바탕으로 국제화 시대를 이끌어 나갈 능력을 갖춘 능동적이고 창의적인 컴퓨터 소프트웨어 전문 기술 인력 양성을 교육목표로 한다.</td></tr>
<td width="30" class="tvdate">&nbsp;</td>

<tr>
<td width="30">&nbsp;</td>
<td colspan="2" class="text04">
                                                                       
                                                                        <p>

본 프로그램의 교육목표는 네 가지 세부 교육목표로 이루어지며 각 세부 교육목표에서 추구하는 방향은 다음과 같다.</p>
                                                                        <p><b>가. 공학 기초 능력과 도구 활용 능력 배양
</b></p>
                                                                        <p>1) 세부 교육목표</p>
<p>기초과학, 컴퓨터 소프트웨어 공학 기술, 소프트웨어 도구 활용 능력을 바탕으로 한 공학 기초 능력과 도구 활용 능력 배양
</p>
                                                                        <p>2) 추구방향</p> 
<p>본 프로그램 소속 학생은 기초과학의 중요한 이론을 이해하고, 컴퓨터소프트웨어공학 전공과 관련된 다양한 도구를 습득함으로써, 기초과학을 바탕으로 체계적인 전공능력을 향상시킬 수 있으며, 능숙한 전공 도구 활용을 바탕으로 실무능력을 향상시킬 수 있다. 

</p>
                                                                        <p><b>나. 응용 능력과 설계 능력 배양
</b></p>
                                                                        <p>1) 세부 교육목표</p>
<p>습득한 지식을 응용하고 창의적인 사고를 발휘하여 다양한 공학 분야에 응용할 수 있고, 종합적으로 설계할 수 있는 능력 배양</p>
                                                                        <p>
2) 추구방향</p> 
<p>본 프로그램 소속 학생은 컴퓨터 하드웨어, 컴퓨터 소프트웨어, 컴퓨터 시스템과 관련된 구성요소에 대하여 설계 요소를 이해하고, 제시된 문제에 대한 현실적 해결방안을 도출하고 해결함으로써, 컴퓨터소프트웨어공학과 관련된 다양한 공학적 문제해결 능력을 향상시킬 수 있으며, 설계 구성요소 및 제한요소 등에 대한 인식을 바탕으로 체계적인 설계능력을 향상시킬 수 있다.</p>
                                                                        <p><b>다. 실무 능력과 의사 전달 능력 배양</b></p>
                                                                        <p>1) 세부 교육목표</p>
<p>관련 산업체와 연구기관 등에서 필요한 실무 수행 능력과 효과적인으로 의사를 전달 할 수 있는 능력 배양
</p>
                                                                        <p>2) 추구방향</p>
<p>본 프로그램 소속 학생은 컴퓨터소프트웨어공학 전공과 관련하여 실험을 계획하고 실험결과에 대하여 종합적으로 분석하며, 객관적 사실에 근거하여 논리적으로 실무 수행 절차를 표현함으로써, 실무적 현장에 적응하는 실무능력을 향상시킬 수 있으며, 실무를 통해 인식한 다양한 실무지식을 타인에게 효과적으로 전달하는 의사전달능력을 향상시킬 수 있다.

</p>
                                                                        <p><b>라. 책임의식과 국제화 능력 배양
</b></p>
                                                                        <p>1) 세부 교육목표</p>
<p>건전한 윤리적 사고와 책임의식을 바탕으로 국제화 시대를 이끌어 나갈 능력 배양
</p>
                                                                        <p>2) 추구방향</p>
<p>본 프로그램 소속 학생은 정보 윤리와 직업적 책임의 필요성을 인식하고 외국어로 전공 지식을 논리적으로 표현함으로써, 지역사회 및 국가에 이바지하기 위한 책임의식을 배양시킬 수 있으며, 국제적 공학도로서 윤리적 사고와 직업적 책임의식을 배양시킬 수 있다.
</p>
                                                                    </td>
                      </tr>

                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><img src="/front/template/images/sub02_03title03.gif" width="300" height="18"></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="2"></td>
                      </tr>
                                                                <tr>
                        <td width="30">&nbsp;</td>
                                                                    <td class="text04">
                                                                        <table width="637" border="0" cellpadding="0" cellspacing="1" bgcolor="#999999">
                                                                            <TR borderColor="#000099" bgColor="#b8e1f8">
                                                                                <TD colSpan="2" rowspan="2" align="center" bordercolor="#000099" bgcolor="#E4EFF6" width="157"><strong class="text07">교육목표</strong></TD>
                                                                                <TD height="20" colSpan="4" align="center" bordercolor="#000099" bgcolor="#E4EFF6" class="text09" width="477">
                                                                                    <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:-윤고딕130;mso-fareast-font-family:-윤고딕130;">컴퓨터소프트웨어공학 교육목표</span></p>
                                                                                </TD>
                                                                            </TR>
                                                                            <TR borderColor="#000099" bgColor="#b8e1f8">
                                                                                <TD align="center" bordercolor="#000099" bgcolor="#E4EFF6" class="text09" width="118">
                                                                                    <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:-윤고딕130;mso-fareast-font-family:-윤고딕130;">공학기초능력과  도구활용능력 배양</span></p>
                                                                                </TD>
                                                                                <TD align="center" bordercolor="#000099" bgcolor="#E4EFF6" class="text09" width="118">응용능력과<BR>
설계능력 배양</TD>
                                                                                <TD align="center" bordercolor="#000099" bgcolor="#E4EFF6" class="text09" width="118">실무능력과<BR>
의사전달능력 배양</TD>
                                                                                <TD align="center" bordercolor="#000099" bgcolor="#E4EFF6" class="text09" width="118">
                                                                                    <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:-윤고딕130;mso-fareast-font-family:-윤고딕130;">책임의식과 국제화능력 배양</span></p>
                                                                                </TD>
                                                                            </TR>
                                                                            <TR borderColor="#000099">
                                                                                <TD rowSpan="3" align="center" bgcolor="#FFFFFF" width="32">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span lang="EN-US" style="mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">ICT</span></p>
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">공과</span></p>
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">대학</span></p>
                                                                                </TD>
                                                                                <TD height="40" bgcolor="#FFFFFF" width="124">
                                                                                    <p class="1" style="margin-left:3.0pt;margin-right:3.0pt;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;" align="center"><span lang="EN-US" style="mso-fareast-font-family:굴림;font-family:굴림;mso-ascii-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">ICT</span><span style="font-family:굴림;mso-fareast-font-family:굴림;">공학분야 실문전문 인력양성</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF" width="118">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF" width="118">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◐</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF" width="118">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF" width="118"> 
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◯</span></p>
                                                                                </TD>
                                                                            </TR>
                                                                            <TR borderColor="#000099">
                                                                                <TD height="40" bgcolor="#FFFFFF" width="124">
                                                                                    <p class="1" style="margin-left:3.0pt;margin-right:3.0pt;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;" align="center"><span style="font-family:굴림;mso-fareast-font-family:굴림;">윤리 및 책임감 의식을 갖춘 인력양성</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF" width="118"> 
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◯</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF" width="118">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◯</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF" width="118">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◐</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF" width="118"> 
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                                                                            </TR>
                                                                            <TR borderColor="#000099">
                                                                                <TD height="40" bgcolor="#FFFFFF" width="124">
                                                                                    <p class="1" style="margin-left:3.0pt;margin-right:3.0pt;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;" align="center"><span style="font-family:굴림;mso-fareast-font-family:굴림;">산업발전과 사회번영에 기여하는 인력양성</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF" width="118"> 
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◯</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF" width="118">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◐</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF" width="118">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◐</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF" width="118">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                                                                            </TR>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><img src="/front/template/images/sub02_03title04.gif" width="300" height="18"></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="2"></td>
                      </tr>
                      <tr>
                        <td width="30">&nbsp;</td>
                        <td class="text04"><table width="637" border="0" cellpadding="0" cellspacing="1" bgcolor="#CCCCCC">
                          <TR borderColor="#000099" bgColor="#b8e1f8">
                            <TD width="182" rowspan="3" align="center" bgcolor="#E4EFF6" class="text07" title="아래쪽 교육목표, 오른쪽 학습성과"><strong>교육목표</strong></TD>
                            <TD height="20" colspan="11" align="center" bgcolor="#E4EFF6" class="text09" title="[학습성과 1] 수학, 기초과학, 전문교양에서 습득한 이론과 지식을 전공에 응용할 수 있는 능력">학습성과</TD>
                          </TR>
                          <TR borderColor="#000099" bgColor="#b8e1f8">
                            <TD style="text-align:center" width="40" height="20" align="center" bgcolor="#E4EFF6" class="text09" title="[학습성과 1] 수학, 기초과학, 전문교양에서 습득한 이론과 지식을 전공에 응용할 수 있는 능력">PO1</TD>
                            <TD width="40" align="center" bgcolor="#E4EFF6" class="text09" title="[학습성과 1] 수학, 기초과학, 전문교양에서 습득한 이론과 지식을 전공에 응용할 수 있는 능력">PO2</TD>
                            <TD width="40" align="center" bgcolor="#E4EFF6" class="text09" title="[학습성과 1] 수학, 기초과학, 전문교양에서 습득한 이론과 지식을 전공에 응용할 수 있는 능력">PO3</TD>
                            <TD width="40" align="center" bgcolor="#E4EFF6" class="text09" title="[학습성과 1] 수학, 기초과학, 전문교양에서 습득한 이론과 지식을 전공에 응용할 수 있는 능력">PO4</TD>
                            <TD width="40" align="center" bgcolor="#E4EFF6" class="text09" title="[학습성과 1] 수학, 기초과학, 전문교양에서 습득한 이론과 지식을 전공에 응용할 수 있는 능력">PO5</TD>
                            <TD width="40" align="center" bgcolor="#E4EFF6" class="text09" title="[학습성과 1] 수학, 기초과학, 전문교양에서 습득한 이론과 지식을 전공에 응용할 수 있는 능력">PO6</TD>
                            <TD width="40" align="center" bgcolor="#E4EFF6" class="text09" title="[학습성과 1] 수학, 기초과학, 전문교양에서 습득한 이론과 지식을 전공에 응용할 수 있는 능력">PO7</TD>
                            <TD width="40" align="center" bgcolor="#E4EFF6" class="text09" title="[학습성과 1] 수학, 기초과학, 전문교양에서 습득한 이론과 지식을 전공에 응용할 수 있는 능력">PO8</TD>
                            <TD width="40" align="center" bgcolor="#E4EFF6" class="text09" title="[학습성과 1] 수학, 기초과학, 전문교양에서 습득한 이론과 지식을 전공에 응용할 수 있는 능력">PO9</TD>
                            <TD width="40" align="center" bgcolor="#E4EFF6" class="text09" title="[학습성과 1] 수학, 기초과학, 전문교양에서 습득한 이론과 지식을 전공에 응용할 수 있는 능력">PO10</TD>
                            <TD width="40" align="center" bgcolor="#E4EFF6" class="text09" title="[학습성과 1] 수학, 기초과학, 전문교양에서 습득한 이론과 지식을 전공에 응용할 수 있는 능력">PO11</TD>
                          </TR>
                                                                            <TR borderColor="#000099" bgColor="#b8e1f8">
                            <TD style="padding-left:3px;width:35px;" align="center" bgcolor="#E4EFF6" class="text09">지식응용</TD>
                                                                                <TD style="padding-left:3px;width:35px;" align="center" bgcolor="#E4EFF6" class="text09">
                                                                                    <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:-윤고딕130;mso-fareast-font-family:-윤고딕130;">구현 검증</span></p>
                                                                                </TD>
                                                                                <TD style="padding-left:3px;width:35px;" align="center" bgcolor="#E4EFF6" class="text09">
                                                                                    <p class="1" style="mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:-윤고딕130;mso-fareast-font-family:-윤고딕130;">모델링</span></p>
                                                                                </TD>
                            <TD style="padding-left:3px;width:35px;" align="center" bgcolor="#E4EFF6" class="text09">도구활용</TD>
                            <TD style="padding-left:3px;width:35px;" align="center" bgcolor="#E4EFF6" class="text09">응용설계</TD>
                            <TD style="padding-left:3px;width:35px;" align="center" bgcolor="#E4EFF6" class="text09">팀웍</TD>
                            <TD style="padding-left:3px;width:35px;" align="center" bgcolor="#E4EFF6" class="text09">의사소통</TD>
                            <TD style="padding-left:3px;width:35px;" align="center" bgcolor="#E4EFF6" class="text09">환경영향</TD>
                            <TD style="padding-left:3px;width:35px;" align="center" bgcolor="#E4EFF6" class="text09">직업윤리</TD>
                            <TD style="padding-left:3px;width:35px;" align="center" bgcolor="#E4EFF6" class="text09">평생교육</TD>
                                                                                <TD style="padding-left:3px;width:35px;" align="center" bgcolor="#E4EFF6" class="text09">
                                                                                    <p>국제활동</p>
                                                                                </TD>
                                                                            </TR>
                                                                            <TR borderColor="#000099">
                                                                                <TD height="40" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">공학기초능력과 도구활용능력</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◐</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">○</span></p>
                                                                                </TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                                                                            </TR>
                                                                            <TR borderColor="#000099">
                                                                                <TD height="40" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">응용능력과 설계능력</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">○</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">○</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">○</span></p>
                                                                                </TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                                                                            </TR>
                                                                            <TR borderColor="#000099">
                                                                                <TD height="40" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">실무능력과 의사전달능력</span></p>
                                                                                </TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◐</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◐</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◐</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◐</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◐</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">○</span></p>
                                                                                </TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">○</span></p>
                                                                                </TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                                                                            </TR>
                                                                            <TR borderColor="#000099">
                                                                                <TD height="40" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;">책임의식과 국제화능력 </span></p>
                                                                                </TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                            <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◐</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">◐</span></p>
                                                                                </TD>
                                                                                <TD align="center" bgcolor="#FFFFFF">
                                                                                    <p class="1" style="text-align:center;word-break:keep-all;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;"><span style="font-family:굴림;mso-fareast-font-family:굴림;mso-font-width:100%;letter-spacing:-1.0pt;mso-text-raise:0pt;">●</span></p>
                                                                                </TD>
                                                                            </TR>
                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
                <td width="33" background="/front/template/images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="/front/template/images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="/front/template/images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="/front/template/images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
