<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../flash.js"></script>
<script type="text/javascript" src="../common.js"></script>
</SCRIPT>
<style type="text/css">
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="../images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm}</td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><img src="../images/tit_05_01.gif" width="97" height="29"></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 알림마당&gt; 공지사항</td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3" ></td>
                    </tr>
                </table></td>
                <td background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="670" border="1" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="5" align="right">&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="7" valign="top" background="../images/board/bd_v_top_01.gif"></td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="73" height="27" class="notice_T"><div align="center" class="tvdate">제목</div></td>
                          <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="1" colspan="4" bgcolor="e3f0f7"></td>
                        </tr>
                        <tr>
                          <td height="28" class="notice_T"><div align="center" class="tvdate">날짜</div></td>
                          <td>&nbsp;</td>
                          <td width="67" class="notice_T"><div align="center" class="tvdate">글쓴이</div></td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="1" colspan="4" bgcolor="e3f0f7"></td>
                        </tr>
                        <tr>
                          <td height="27" class="notice_T"><div align="center" class="tvdate">파일</div></td>
                          <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="1" colspan="4" bgcolor="e3f0f7"></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
                        <tr>
                          <td height="250">&nbsp;</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="7" background="../images/board/bd_v_top_01.gif"></td>
                  </tr>
                  <tr>
                    <td height="40" align="center"><img src="../images/board/bt_del.gif" width="67" height="24" /> <img src="../images/board/bt_modify.gif" width="67" height="24" /> <img src="../images/board/bt_list.gif" width="67" height="24" /><img src="../images/board/bt_write.gif" width="67" height="24" /><img src="../images/board/bt_ok.gif" width="67" height="24" /></td>
                  </tr>
                </table></td>
                <td width="33" background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="../images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="../images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="../images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
