<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../flash.js"></script>

<style type="text/css">
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="../images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm}</td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><img src="../images/tit_07_02.gif" width="99" height="29"></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 입학/장학&gt; 장학혜택</td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3"></td>
                    </tr>
                </table></td>
                <td background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="666" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="3"></td>
                      </tr>
					  <tr>
                        <td width="30">&nbsp;</td>
                        <td width="600" height="35" class="text04"><p class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">학과특성화 장학금 선발 기준</span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
					  <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text01"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                                                                            <td>
                                                                                                <p>학과 특성화 장학금은 가능한 한 학년별로 균등하게 배분하며 다음과 같은 기준에 따라 대상자를 선정한다.</p>
                                                                                                <p>1. 각종 전공관련 공모전 수상자(공모전 인정 규모는 학과에서 결정)<br>
2. 토익 성적 600점 이상인 학생중에서 외국어 우수장학금을 수혜하지 않은 학생(1 항의 해당자 없는 경우)<br>
 &nbsp;&nbsp;*학교의 외국어우수장학금은 토익 700~750점 이상<br>
3. 선행활동자 또는 가계곤란자 중 해당년도에 국가장학금을 수혜하지 않은 학생(1, 2 항의 해당자 없는 경우)<br>
4. 성적우수자 중 해당년도( 또는 학기별로 지급하는 경우 해당학기)에 성적 우수 장학금을 수혜하지 않은 학생(1, 2, 3 항의 해당자 없는 경우)<br>
5. 품행이 바른 학생(1 ~ 4 항 모두 해당)</p>
                                                                                            </td>
                              </tr>
                            </table>                              </td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="30">&nbsp;</td>
                        <td width="600" height="35" class="text04"><p class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">신입생 장학금</span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
					  
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td><span class="text07">(1) 효민특A장학금</span> <br>
                                  전체 수석자로서 입학시 입학금 및 4년간(한의학과는 6년간) 등록금 전액을 감면한다. 단, 재학 기간중 매학기 학업성적이 평점평균 3.0 이상이어야 하며 2회 탈락할 경우 효민특A장학생 자격을 상실한다. <br>
  <span class="text07"><br>
    (2) 효민특B장학금</span> <br>
                                  단과대학 수석자로서 입학시 입학금 및 1년간 등록금 전액을 감면한다. 단, 재학기간중 매학기 학업성적이 평점평균 3.0 이상이어야 하며 1회 탈락할 경우 효민특B장학생 자격을 상실한다. 
                                  <br/><br/><span class="text07">(3) 효민특C장학금 </span><br>
                                    학부(과) 수석자로서 입학시 1개 학기 등록금 전액(입학금 제외)을 감면한다(학부 단위 모집일 경우 전공별로 각 1명). 
                                  <br/><br/><span class="text07">(4) 고시특별장학금</span><br>
                                    ① 성적이 인문, 자연계열별 수능 종합등급이 1등급(4%) 이내인 자. <br>
                                    ② 입학시 입학금 포함 4년간 등록금 전액 감면 및 효민생활관비, 도서구입비를 보조하며도서 구입비는 장학위원회에서 정한다. 단, 재학중 매학기 학업성적 3.5 이상일 때 이를 계속 지급하며 2회 탈락된 경우에는 장학생 자격을 상실한다. <br>
                                    ③ 위 장학생으로 선발된 자는 2학년 진급시 해당 전공을 택하여 끊임없는 면학을 통해 소기의 성과를 거두기 위하여 장학위원회가 정한 내용의 각서를 제출하여야 하며 이를 위배할 시 장학생 자격을 상실한다. <br>
                                    ④  해당전공표 <br>
                                    사법고시 - 법정대학 全전공 <br>
                                    행정고시 - 법정대학 全전공 <br>
                                    공인회계사 - 상경대학 全전공 <br>
                                    기술고시 <br>
                                    기계 - 기계공학 전공 <br>
                                    전기 - 전기공학 전공 <br>
                                    화공 - 화학 전공, 화학공학 전공 <br>
                                    환경 - 환경공학 전공, 토목공학 전공 <br>
                                    토목 - 토목공학 전공 <br>
                                    건축 - 건축공학 전공 <br>
                                    전산 - 컴퓨터 공학 전공, 소프트웨어공학 전공, 전산통계학 전공 <br>
                                    통신기술 - 정보통신공학 전공 
                                  <br/><br/><span class="text07">(5) 우수신입생해외어학연수장학금 </span><br>
                                    대학수학능력시험 성적이 전국 순위 계열별 2등급(11%) 이내인 자로서 대학수학능력시험 성적을 기준으로 대학별 총입학정원(수시, 정시)의 1% 이내이며 학부(과)별 총입학정원의 2% 이내인 대 학수학능력시험 성적우수자에게 하계방학 기간중 4주간 해외어학연수에 따른 경비(왕복항공료포함)를 지원한다.(단, 해외어학연수에 참가한 학생에게 이 장학금을 지급한다.) 
                                  <br/><br/><span class="text07">(6) 신입생 특별전형장학금 </span><br>
                                    ① 농어촌학생 특별전형에 합격한 자는 입학금을 감면한다. <br>
                                    ② 소년소녀가정 특별전형에 합격한 자는 4년간 등록금 2/3를 감면한다. <br>
                                    ③ 선효행자 특별전형에 합격한 자는 1년간 등록금 2/3를 감면한다. </td>
                              </tr>
                            </table>                              
                              <br>
                              
                              </td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">재학생 성적우수장학금</span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text01"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>가 매학기 대학별, 학과별, 학년별 재학생수에 비례하여 배정한다. <br>
나 장학등급은 등록금 전액, 등록금 2/3, 등록금 1/3, 등록금 1/4, 일정액으로 구분한다. <br>
다 .학업성적 가사사정, 면학분위기 조성, 공헌도 등을 참조하여 학과의 추천에 의하여 선발한다. <br>
라 직전학기에 15학점 이상 취득(4학년은 12학점 이상 취득), 평점평균 3.0/4.5 이상인 학생을 대상으로 한다. <br>
마 조기졸업 신청자는 조기졸업 여부에 관계없이 성적우수장학생에 해당하더라도 대상자에 서 제외한다. <br></td>
                              </tr>
                            </table>                              </td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">국제화장학금(TOEIC 등 외국어우수장학금)</span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td><span class="text01"><span class="text09">TOEIC 성적 600점 이상, TOEFL 성적 510점 이상, 일본어능력시험 2급 이상, JPT B급(600점) 이상,HSK 6급(263점 ～ 299점) 이상일 경우 다음과 같이 장학금(500,000원)을 지급한다. </span><br>
가. 이 장학금은 재학중 1회에 한하여 지급한다.(직전학기 학업성적 2.5 이상) <br>
나. 대상인원은 <br>
&nbsp;&nbsp;                              TOEIC : 상위 30명, TOEFL : 상위 4명 이상, 일본어능력시험 : 상위 2명, <br>
&nbsp;&nbsp;&nbsp;JPT : 상위 2명,                               HSK : 상위 2명으로 하며 어학 종류별로 결원이 발생하면 <br>
&nbsp;&nbsp;                              TOEFL, TOEIC에서 결원을 보충한다. <br>
다. 동점일 경우는 직전학기 학업성적 상위자를 우선한다 </span></td>
                              </tr>
                            </table>                              &nbsp;</td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">희망장학금</span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td><span class="text01">가정이 극빈하고 본인 또는 보호자가 장애인(장애등급 3급 이내)인 학생에게 학비(1,000,000원)를 감면한다(단, 직전학기 학업성적 평점평균   2.0 이상 - 단, 신입생, 편입생의 경우 직전학기 학업성적이 없으므로 성적제한을 하지 아니한다.<BR>
                                </span></td>
                              </tr>
                            </table>                              </td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">선행장학금</span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td><span class="text01"><br>
가. 가계곤란자 : 가계곤란한 자로서 학교 내&middot;외에서 봉사를 한 학생에게 학비(500,000원)를 감면한다. <br>
나. 주차관리 :가계곤란한 자로서 교내에서 주차관리를 한 학생에게 학비(1,200,000원)를 감면한다. <br>
다. 야간경비보조 :가계곤란한 자로서 교내의 취약 지역 순찰 등 경비 보조 업무를 한 학생에게 <br>
&nbsp;&nbsp;&nbsp;학비(800,000원)를 감면한다. <br>
라. 홍보도우미:홍보도우미로 활동한 학생에게 학비(500,000원)를 감면한다. <br>
마. 해외봉사:해외에서 사회봉사를 한 학생에게 학비(일정금액)를 감면한다. <br>
바. 효민무장애학생도우미:본교 장애인 학생의 요청에 의해 도우미로 선발된 학생에게 학비(500,000원)를 <br>
&nbsp;&nbsp;&nbsp;감면한다. </span></td>
                              </tr>
                            </table>                              &nbsp;</td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">국가고시합격장학금</span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td><span class="text01">재학중 고등고시 등 각종 국가자격시험에 합격한 자 또는 공인회계세무사, 관세사, 기술사, 기능장 등의 자격시험에 합격한 자로 특히 직전학기 성적   평점평균 2.5 이상인 경우 본인의 신청에 의해 선발하며 합격한 다음 학기부터 다음과 같이 학비를 감면한다. <BR>
5급상당 - 고등고시,   공인회계사, 기술사, 기능장 등<BR>
7급 상당 - 관세사, 손해사정사 등 <br>
                                </span></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="550" border="0" cellpadding="0" cellspacing="1" bgcolor="#CCCCCC">
                              <TR bgColor="#fafdf2">
                                <TD colspan="2" align="center" bgcolor="#E4EFF6" class="text07">자 격</TD>
                                <TD height="30" align="center" bgcolor="#E4EFF6" class="text07">장학금액</TD>
                                <TD align="center" bgcolor="#E4EFF6" class="text07">수혜기간<BR></TD>
                                <TD align="center" bgcolor="#E4EFF6" class="text07">비고</TD>
                              </TR>
                              <TR bgColor="#fafdf2">
                                <TD rowSpan="2" align="center" bgcolor="#E4EFF6" class="text09">5급상당</TD>
                                <TD align="center" bgcolor="#FFFFFF">1차 합격<BR></TD>
                                <TD height="35" align="center" bgcolor="#FFFFFF">등록금 2/3 <BR></TD>
                                <TD align="center" bgcolor="#FFFFFF">1년 <BR></TD>
                                <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                              </TR>
                              <TR>
                                <TD align="center" bgColor="#FFFFFF">최종합격</TD>
                                <TD height="35" align="center" bgColor="#FFFFFF">등록금 전액</TD>
                                <TD align="center" bgColor="#FFFFFF">졸업시까지 <BR></TD>
                                <TD align="center" bgColor="#FFFFFF">&nbsp;</TD>
                              </TR>
                              <TR bgColor="#fafdf2">
                                <TD colSpan="2" align="center" bgcolor="#E4EFF6" class="text09">7급 상당</TD>
                                <TD height="35" align="center" bgcolor="#FFFFFF">등록금 1/3<BR></TD>
                                <TD align="center" bgcolor="#FFFFFF">1년　                                </TD>
                                <TD align="center" bgcolor="#FFFFFF">&nbsp;</TD>
                              </TR>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">공로장학금</span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>가. 재학중 학문, 예술, 기술 등의 시/도 단위 규모 이상의 대회에서 입상한 자 <br>
                              나. 2인 이상이 입상한 경우 대표 1인에게 장학금을 지급한다. <br>
                              다. 직전학기 성적 평점평균 2.5 이상 <br>
                              라. 장학생추천은 소속대학장이 하며 장학위원회에서 심의&middot;결정한다. </td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle"><STRONG>체육장학금 </STRONG><BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>체육특기자로 입학하여 재학중 체육활동을 통하여 학교발전에 기여한 자로서 등록금 전액, 등록금 2/3이고 수혜구분은 체육진흥부장이 정한다.(단,   볼링부는 별도로 등급을 결정한다) </td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">간부장학금 <BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>가. 장학등급은 등록금 전액, 등록금 2/3, 등록금 45%로 구분한다. <br>
나. 장학생은 단과대학 학장이 추천하여 학생복지처장이 선발한다. <br>
다. 직전학기 학업성적 평점평균 2.0 이상인 학생을 대상으로 한다.</td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle"><STRONG>봉사장학금 </STRONG><BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>가. 학부(과)의 학년별 대표에게 학기당 100,000원을 지급한다. <BR>
나. 직전학기 학업성적 평점평균 2.0 이상인 학생을 대상으로   한다. </td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">인턴장학금<BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>가. 가정형편이 어려운 학생으로서 학교의 행정부서 및 기타 부서에서 근로한 학생에게 지급한다. <br>
나. 장학등급은 일정액으로 다음과 같다. <br>
&nbsp;&nbsp;&nbsp;1종 1,600,000원/2종 14,000,000원/3종 1,200,000원/<br>
&nbsp;&nbsp;&nbsp;4종 1,000,000원/5종 900,000원/6종 800,000원 /7종 700,000원 <br>
다. 각 해당부서에서 추천하여 학생복지처장이 선발한다. </td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">국가유공자자녀장학금 및 북한귀순자장학금<BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>가. 국가유공자 본인 및 북한귀순동포 본인 : 학업성적에 관계없이 등록금 전액을 지급한다. <br>
나. 국가유공자자녀로서 직전학기 학업성적 평점평균 2.0 이상, 북한귀순동포 자녀로서 직전학기 <br>
&nbsp;&nbsp;&nbsp;학업 성적 1.6 이상인 학생에게 등록금의 1/2을 감면한다.(단, 신입생의 경우 입학금 1/2 포함) <br>
다. 재학기간중 8회(한의학과는 12회) 이내만 지급하며 성적미달 및 학기중 휴학자는 1회 자격을 <br>
&nbsp;&nbsp;                              상실한 것으로 한다. <br>
라 신규대상자는 매학기 수업일수 1/4선 이전까지 증명서를 제출하여야만 한다. </td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">형제장학금<BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>다음의 조건이 충족될 경우 등록금의 1/3을 1인에게 지급한다.(단, 3인일 경우 학년이 높은 1인에게 등록금 전액을 지급한다.) 
                                  가. 형제 2인 이상(부부 등 직계 포함)이 당해 학기 등록금을 납부하고 형제 모두 직전학기 학업성적 <br>
  &nbsp;&nbsp;&nbsp;                                평점평균 2.0 이상이어야 한다.(단, 신입생, 편입생의 경우 직전학기 학업성적이 없으므로 <br>
  &nbsp;&nbsp;&nbsp; 성적제한을 하지 아니한다.) <br>
                                    나. 형제장학금은 학년이 높은 학생이 수혜를 하며 같은 학년일 경우 연령이 많은 학생이 수혜한다. <br>
                                    다. 형제장학금 수혜대상자가 타 장학금을 수혜하게 될 경우                                (인턴장학금, 선행장학금, TOEIC등<br>
  &nbsp;&nbsp;&nbsp;                                외국어우수장학금 제외) 차 순위의 형제에게 지급하며 형제 모두가 타 장학금 수혜대상일 경우 <br>
  &nbsp;&nbsp;&nbsp; 형제장학금 대상자에서 제외된다.(단, 형제장학금보다 등급이 낮은 장학금과 중복수혜시 <br>
  &nbsp;&nbsp;&nbsp; 형제장학금을 지급한다.) <br>
                                    라. 재혼 등의 사유로 합가(合家)하는 경우도 그 자녀는 형제장학금 대상자에 포함한다.                               </td>
                              </tr>
                            </table>                              </td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">국민기초생활보장수급자장학금<BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>가. 장학금액은 등록금의(일반수급자 등록금의 2/3, 조건부수납자 등록금의 1/3)로 학비감면한다. <br>
나. 이 장학금을 수혜하기 위하여 읍, 면, 동사무소에서 발행하는 국민기초생활보장수급자증명서를 <br>
&nbsp;&nbsp;&nbsp;                              제출하여야 한다. <br>
다. 직전학기 학업성적 평점평균 2.0 이상이어야 한다.(단, 신입생, 편입생의 경우 직전학기 학업성적이 <br>
&nbsp;&nbsp;&nbsp;                              없으므로 성적제한을 하지 아니 한다.) </td>
                              </tr>
                            </table>                              </td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">동의복지장학금<BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>가. 학교법인 동의학원 교직원 및 그 자녀에 대한 학비감면 규정에 따른다. <br>
나. 본 대학교 법인 산하기관에 근무하는 교직원 본인 및 직계자녀로서 본인의 신청에 의해 학비를 감면한다. <br>
다. 신입생, 편입생의 경우 직전학기 학업성적이 없으므로 성적제한을 하지 아니한다. <br>
라. 재학중인 교직원의 자녀가 2인 이상인 경우 1인에게만 지급한다. <br>
마. 동의복지장학금과 성적장학금이 중복수혜될 경우 본인의 원에 따른다. </td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">교육자자녀장학금<BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>가. 부산광역시, 울산광역시, 경상남도 지역의 교원단체연합회 및 전국교직원노동조합의 회원 및 <br>
&nbsp;&nbsp;                              그 자녀에게 일정액을 지급한다. <br>
나. 이 장학금을 수혜하기 위하여 교원단체연합회에서 발행하는 학비감면원 또는 전국교직원노동조합 <br>
&nbsp;&nbsp;                              회원임을 증명할 수 있는 서류와 주민등록등본을 제출하여야 한다. <br>
다. 직전학기 학업성적 평점평균 2.0 이상이어야 한다.(단, 신입생, 편입생의 경우 직전학기 학업성적이 <br>
&nbsp;&nbsp;                              없으므로 성적제한을 하지 아니한다.) </td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">특수장학금 <BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td height="30" align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>국가고시준비 또는 학교의 위상을 선양한 자에게 일정금액을 지급한다.</td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle"><STRONG>해외어학연수장학금 </STRONG><BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>다음의 대상자에게 이 장학금을 지급한다. 
                              가. 전년도 2학기와 금년도 1학기에 TOEIC등외국어우수장학금을 수혜한 학생중 상위 3명에게 하계 <br>
&nbsp;&nbsp;                                &nbsp;방학기간을 이용하여 4주간 해외어학연수의 기회를 제공한다.(단, 왕복항공료는 본인이 부담한다.) <br>
나. 교내 외국어교육원에서 시행하는 영어말하기대회 상위 3명에게 하계 방학기간을 이용하여 4주간 <br>
&nbsp;&nbsp;&nbsp;                                해외어학연수의 기회를 제공한다.(단, 왕복항공료는 본인이 부담한다.) <br>
다. 교내 중앙도서관에서 시행하는 다독자상 대상중 전년도 2학기와 금년도 1학기에 선정된 각 1명에게 <br>
&nbsp;&nbsp;&nbsp;                                하계 방학기간을 이용하여 4주간 해외어학연수의 기회를 제공한다.(단, 왕복항공료는 본인이 부담한다.) </td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle"><STRONG>해외교환학생장학금 </STRONG><BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>재학중 해외국가에 교환학생으로 나가는 학생에게 일정액을 지급하며 장학금액은 총장이 정한다. <BR>
단, 직전학기 학업성적 3.0 이상이어야 하며   1개 학기 이상 수학을 원칙으로 한다. </td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">외국인특별전형장학금<BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td height="30" align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>외국인특별전형으로 입학한 학생에게 졸업시까지 등록금의 50%를 장학금으로 지급한다. </td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">외부장학금 <BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td height="30" align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>본 대학교 학생들의 교육을 위하여 교외의 장학재단, 사회단체, 기업, 개인 등이 선발 의뢰하여 선발된 장학생으로 다음에 따라 선발하여 추천한다.<br>
                                  <br>
가. 교외장학재단에서 해당 대학, 학부(과) 및 인원을 지정하여 기탁하였을 경우 해당 대학 학장의 신청을 <br>
&nbsp;&nbsp;&nbsp;                                받아 총장이 추천한다. <br>
나. 해당 대학, 학부(과)가 지정되지 않았을 경우 교외장학생 수혜 순번 또는 단과대학별 재학인원 <br>
&nbsp;&nbsp;&nbsp;                              비율에 따라 학생복지처장이 배정한다. <br>
다. 교외장학재단에서 수혜자를 지정하여 추천을 의뢰할 경우에는 특별한 결격사유가 없는 한 따른다. <br></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">장학금 지급시기<BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td height="30" align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>1. 매학기말 등록금 납입시 장학금을 지급한다. <BR>
2. 장학금을 지급할 수 있는 시한은 매 학기 수업일수 1/4을 원칙으로 한다. <BR>
3. 총장이 인정하는 경우에는 학기중이라도 지급할 수 있다. </td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><span class="text09"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">외부장학금 <BR>
                        </span></span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04"><table width="600" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/sub07_02img01.gif" width="600" height="11"></td>
                          </tr>
                          <tr>
                            <td height="30" align="center" background="../images/sub07_02back.gif"><table width="590" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>가. 교내장학생으로 선정된 학생에게는 해당 학기 등록금에서 장학금을 공제한 금액의 <br>
&nbsp;&nbsp;&nbsp; 등록금 납입고지서를 발부한다 <br>
나. 추가로 선발된 교내장학생의 장학금은 학부형의 은행통장으로 입금함을 원칙으로 한다. </td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="11"><img src="../images/sub07_02img02.gif" width="600" height="11"></td>
                          </tr>
                        </table></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04">&nbsp;</td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="35" class="text04">&nbsp;</td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
                <td width="33" background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="../images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="../images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="../images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
