<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../flash.js"></script>
</SCRIPT>
<style type="text/css">
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="../images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm}</td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><img src="../images/tit_08_01.gif" width="117" height="29"></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 진로/취업 &gt; 졸업후 진로</td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3" ></td>
                    </tr>
                </table></td>
                <td background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="666" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="3"></td>
                      </tr>
                      <tr>
                        <td width="30">&nbsp;</td>
                        <td width="600" height="25" class="text04"><p class="text09"><img src="../images/sub08_01img01.gif" width="584" height="246"></p></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="25" class="text01">소프트웨어공학과를 졸업 후의 진로는 매우 다양하다. 학과과정 편성시 현재 우리나라 및 세계적인 <br>
                          기업체가 원하는 분야들을 충실히 반영하고 있으므로   본 학과의 졸업생은 다음과 같은 다양한 미래의 <br>
                          진로를 가진다. 이외에도 신규로 생성가능한 컴퓨터 관련 직종에 능동적으로 대처해 나가는 훌륭한   <br>
                          인재로서의 역할에 충실하리라 생각된다</td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="25" class="text04"><span class="tvdate"><img src="../images/icon_01.gif" width="16" height="16" align="absmiddle">학과 관련 취득 자격증 </span></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="25" class="text01"><table border="0" cellpadding="0" cellspacing="1" bgcolor="#CCCCCC">
                          <TR bgColor="#f0fff0">
                            <TD width="91" height="27" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" bgcolor="#E4EFF6" class="text07"><p><strong>자격증</strong></p></TD>
                            <TD width="122" height="27" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" bgcolor="#E4EFF6" class="text07"><p><strong>시행처</strong></p></TD>
                            <TD width="353" height="27" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" bgcolor="#E4EFF6" class="text07"><p><strong>취득방법</strong></p></TD>
                          </TR>
                          <TR bgColor="#ffffff">
                            <TD width="91" height="183" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" bgcolor="#E4EFF6" class="text07"><p><strong>정보처리기사<BR>
                            </strong></p></TD>
                            <TD width="122" height="183" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" class="text09"><p>한국산업인력공단</p></TD>
                            <TD borderColorLight="#66ccff" width="353" borderColorDark="#66ccff" height="183"><p><STRONG>+</STRONG> 시험과목 - <BR>
                              필기 :   데이터베이스, 전자계산기구조, 운영체제, 소프트웨어공학 데이터통신<BR>
                              실기 : 정보처리 실무 <BR>
                              <STRONG>+</STRONG> 검정방법 - <BR>
                              필기 : 과목당 객관식 20문항(과목당   30분)<BR>
                              실기 : 작업형(3시간 정도, 배점 100점) <BR>
                              <STRONG>+</STRONG> 합격기준 - <BR>
                              필기 : 100점을 만점으로   하여 과목당 40점 이상, 전과목 평균 60점 이상.<BR>
                              실기 : 100점을 만점으로 하여 60점   이상.</p></TD>
                          </TR>
                          <TR bgColor="#ffffff">
                            <TD width="91" height="81" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" bgcolor="#E4EFF6" class="text07"><p><strong>멀티미디어<BR>
                              전문가</strong></p></TD>
                            <TD width="122" height="81" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" class="text09"><p>한국멀티미디어<BR>
                              협회</p></TD>
                            <TD borderColorLight="#66ccff" width="353" borderColorDark="#66ccff" height="81"><p><STRONG>+</STRONG> 시험과목 - <BR>
                              멀티미디어 개론, 기획 및 시나리오 작성,   컨텐츠디자인 및 제작기술, 멀티미디어 저작도구 이해, 인터넷특론 및 저작기술 <BR>
                              <STRONG>+</STRONG> 합격기준 - 1급 80점 이상 - 2급 60점   이상</p></TD>
                          </TR>
                          <TR bgColor="#ffffff">
                            <TD width="91" height="157" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" bgcolor="#E4EFF6" class="text07"><p><strong>정보처리<BR>
                              기능사</strong></p></TD>
                            <TD width="122" height="157" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" class="text09"><p>한국산업인력공단<BR>
                            </p></TD>
                            <TD borderColorLight="#66ccff" width="353" borderColorDark="#66ccff" height="157"><p><STRONG>+</STRONG> 시험과목 - <BR>
                              필기 :   1.전자계산기일반 2.패키지활용 3.PC운영체제 4.정보통신일반 실기 : 정보처리 실무 <BR>
                              <STRONG>+</STRONG> 검정방법 - <BR>
                              필기 : 객관식 4지   택일형 <BR>
                              실기 : 작업형(2시간 정도, 배점 100점) <BR>
                              <STRONG>+</STRONG> 합격기준 - <BR>
                              필기 : 100점을 만점으로   하여 전과목 평균 60점 이상. <BR>
                              실기 : 100점을 만점으로 하여 60점 이상.</p></TD>
                          </TR>
                          <TR bgColor="#ffffff">
                            <TD width="91" height="275" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" bgcolor="#E4EFF6" class="text07"><p><strong>인터넷정보<BR>
                              검색사</strong></p></TD>
                            <TD width="122" height="275" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" class="text09"><p>한국정보통신<BR>
                              인력개발센터</p></TD>
                            <TD borderColorLight="#66ccff" width="353" borderColorDark="#66ccff" height="275"><p><STRONG>+</STRONG> 시험과목 -<BR>
                              필기시험(50분) - <BR>
                              1교시 : 4지선택형 객관식(40문항) - <BR>
                              2교시 : 단답식(20문항), 약술식(10문항) * 인터넷 일반개요 및 상식   (20%), 사용자환경 및 구축(20%), 인터넷 자원탐색(60%) <BR>
                              <STRONG>+</STRONG> 면접시험(60분) - <BR>
                              1교시 : 수험생의   정보검색 능력 평가(10문항 내외) 해당 문제의 정 답 및 위치(URL) 기재. <BR>
                              2교시 : 수험생의 HTML문서 작성 능력 평가(3 ~   4문항) 노트패드, 워드패드(WIN98 내장)로 제작, 파일 전송 및 디스켓 저장. <BR>
                              <STRONG>+</STRONG> 합격기준 - <BR>
                              1차 시험 :   100점 만점, 평균 60점 이상. [과락] 과목당(1, 2교시로 구분) 40점 미만.<BR>
                              2차 시험 : 평균 60점 이상. [과락] 정보검색   52점 미만, 홈페이지 28점 미만.</p></TD>
                          </TR>
                          <TR bgColor="#ffffff">
                            <TD width="91" height="172" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" bgcolor="#E4EFF6" class="text07"><p><strong>워드프로세서<BR>
                              1급</strong></p></TD>
                            <TD width="122" height="172" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" class="text09"><p>대한상공회의소</p></TD>
                            <TD borderColorLight="#66ccff" width="353" borderColorDark="#66ccff" height="172"><p><STRONG>+</STRONG> 시험과목 - <BR>
                              필기 (매과목   100점) : 워드프로세싱 용어 및 기능, PC 운영체제, PC 기본상식 <BR>
                              실기 (100점) : 문서편집기능 <BR>
                              <STRONG>+</STRONG> 검정방법 - <BR>
                              필기 : 객관식 <BR>
                              실기 : 워드프로세서   프로그램을 이용한 평가 <BR>
                              <STRONG>+</STRONG> 합격기준 - <BR>
                              필기 : 매 과목 40점 이상, 전 과목 평균   60점 이상 <BR>
                              실기 : 제한시간 30분, 80점 이상</p></TD>
                          </TR>
                          <TR bgColor="#ffffff">
                            <TD width="91" height="242" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" bgcolor="#E4EFF6" class="text07"><p><strong>전자상거래<BR>
                              관리사</strong></p></TD>
                            <TD width="122" height="242" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" class="text09"><p>대한상공회의소</p></TD>
                            <TD borderColorLight="#66ccff" width="353" borderColorDark="#66ccff" height="242"><p><STRONG>+</STRONG> 시험과목 - <BR>
                              필기 : 1전자상거래   기획 2전자상거래 운영 및 관리 3전자상거래 시스템 운영 및 관리 4전자상거래 관련법규 <BR>
                              실기 : 면접 <BR>
                              <STRONG>+</STRONG> 검정방법 - <BR>
                              필기(객관식), 실기(면접) <BR>
                              <STRONG>+</STRONG> 합격기준 - <BR>
                              필기 : 매 과목 100점 만점에 과목당   40점 이상, 평균 60점 이상 <BR>
                              실기 : 100점 만점에 60점 이상 <BR>
                              <STRONG>+</STRONG> 응시자격 - <BR>
                              해당종목의 2급 자격   취득 후 해당실무에 3년이상 종사한 자. <BR>
                              해당실무에 5년이상 종사한 자 <BR>
                              대학졸업 후 해당 실무에 3년이상 종사한 자 <BR>
                              전문대학 졸업 후 해당실무에 4년이상 종사한 자</p></TD>
                          </TR>
                          <TR bgColor="#ffffff">
                            <TD width="91" height="183" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" bgcolor="#E4EFF6" class="text07"><p><strong>네트워크 <BR>
                              관리사</strong></p></TD>
                            <TD width="122" height="183" align="center" borderColorLight="#66ccff" borderColorDark="#66ccff" class="text09"><p>한국정보통신<BR>
                              자격협회</p></TD>
                            <TD borderColorLight="#66ccff" width="353" borderColorDark="#66ccff" height="183"><p><STRONG>+</STRONG> 시험과목 - <BR>
                              필기시험:네트워크일반(15), TCP/IP(15), NOS+응용프로그램(15), 네트워크운용기기 (5), 정보보호개론(10) <BR>
                              실기시험:LAN전송매체, 네트워크 설계/구축, TCP/IP(Packet분석포함), NOS(NT4.0, 백오피스,Linux),   네트워크운용기기 <BR>
                              <STRONG>+</STRONG> 검정방법 - <BR>
                              필기시험:60분, 객관식 <BR>
                              실기시험:100분, 서술형 또는 작업형 <BR>
                              <STRONG>+</STRONG> 합격기준 - <BR>
                              필기시험:매과목별 100점   만점에 40점이상, 전과목 평균 60점 이상 실기시험:100점 만점에 60점</p></TD>
                          </TR>
                        </table>
                        </td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="25" class="text04">&nbsp;</td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
                <td width="33" background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="../images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="../images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="../images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
