<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../flash.js"></script>
</SCRIPT>
<style type="text/css">
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="../images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm}</td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><img src="../images/tit_09_08.gif" width="369" height="27"></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 지원사업실적 </td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3" ></td>
                    </tr>
                </table></td>
                <td background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="666" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="../images/sub09_01title01.gif" width="71" height="18"></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="3"></td>
                      </tr>

                      <tr>
                        <td width="30">&nbsp;</td>
                        <td width="600" class="text04"><!-- Document Start -->
                          <p>실무중심의 S/W 교과과정을 개발하고 교육방법을 개선하여 정보사회에 필요한 고급 소프트웨어 기술인력을 양성하고 산학 연계 프로젝트를 활성화하여   산학 협동 체제를 구축함으로써 국제적 수준의 지역거점 S/W 인력 양성<br><br></p>
                          <!-- Document End --></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><img src="../images/sub09_01title02.gif" width="71" height="18"></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="3"></td>
                      </tr>
                      <tr>
                        <td width="30">&nbsp;</td>
                        <td width="600" class="text04"><p> <span class="text07">1) 교육여건 확보 <br>
                            </span><br>
                            <span class="text09">교육공간 확보계획 </span><br>
                            - 현재 소프트웨어 공학 실습실, PC 실습실 등 2개의 실습실 (면적:128.6m²)을 운용하고 있으며, 앞으로 기존의 실습실 외에 인터넷 응용실습실, 시스템 소프트웨어실습 등 13개의 실습실 (면적 : 1211.2m²) 을 확보, 운용할 계획이다. <br>
                            <br>
                            <span class="text09">첨단 실험실습기자재 확보계획 </span><br>
- 현재 학생 실험실습 기자재로 PC와 레이저프린터, 비디오 프로젝트 등의 하드웨어와 KAWKPRO, JBuilder등의 소프트웨어를 확보 운용하고 있으며, 향후 소프트웨어공학과, 영화영상공학과에 실습용 기자재로 첨단 하드웨어와 최신의 전문 소프트웨어들을 확보함으로써 실제 기업체가 필요로 하느 실습 위주의 교육을 내실 있게 진행할 수 있도록 한다. 각 학과별 중점 추진 전문분야와 이미 확보되었거나 확보 예정인 첨단 기자재는 아래와 같다. <br>
<br>
<span class="text07">2) 우수학생 확보</span> <br>
<br>
<span class="text09">1) 장학금 등 인센티브 확보 </span><br>
- 스포트웨어공학과에 진학한 학생들 중 학년별 정원대비 5%의 성적 우수 학생들에게 등록금 반액을 지원하도록 하고 상위 5%에서 10%의 학생들에게는 등록금의 4분의 1을 지원하도록 한다. <br>
(단, 교내 성적 우수 장학금을 받는 학생들은 제외함) <br>
<br>
<span class="text09">2) 해외 교육연수 추진 </span><br>
- 해외 대학과 상호 학점 인정제와 해외 우수 IT 교육기관 파견 및 연수를 실시하여 학생들이 해외의 우수한 교육을 통한 실무 기술을 습득할 수 있도록 한다. <br>
<br>
<span class="text09">3) 교육커리큘럼 개편 </span><br>
<br>
- 산업체에 직접 적용할 수 있도록 실험실습 교과과정 증설 <br>
운영체제 프로그램 이론 및 실습, 그래픽에디팅 <br>
- 취업 및 창업의 활성화를 위한 교과과정 신설 <br>
응용 소프트웨어특강, 벤처공학 <br>
- 급격히 변화되는 소프트웨어 기술을 습득하기 위한 교과과정 신설 <br>
비주얼 소프트웨어 시스템, 영상소프트웨어 시스템, 분산시스템 소프트웨어, 정보보호 <br>
- 이론과 실기를 병행한 교과목으로 개편 <br>
수치알고리즘, 임베디드 시스템설계, 지식기반 시스템 <br>
- Team Teaching 교과목 신설<br>
응용소프트웨어프로그래밍 <br>
<br>
<span class="text09">4) 산/학/연 연계 프로젝트형 교육추진 </span><br>
- 산업체기술 수요를 수용하여 산업체의 요구에 부응하는 교육 <br>
- 산/학협동 범위와 대상의 다양화 <br>
- 산/학협동 공동연구 및 기술지원 <br>
- 산/학/연 협동에 경험이 많은 우수한 교원 확보 <br>
- 산업체 현장실습 기회 제공 <br>
- 산업체의 인력들을 위한 특별과정 <br>
- 벤처기업 및 지역경제와 관련된 세미나 및 강연회 개최 <br>
                        </p>
                          </td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
                <td width="33" background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="../images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="../images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="../images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
