<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../flash.js"></script>
</SCRIPT>
<style type="text/css">
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="../images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm}</td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><img src="../images/tit_09_04.gif" width="369" height="27"></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 지원사업실적 </td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3" ></td>
                    </tr>
                </table></td>
                <td background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="666" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="../images/sub09_01title01.gif" width="71" height="18"></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="3"></td>
                      </tr>

                      <tr>
                        <td width="30">&nbsp;</td>
                        <td width="600" class="text04"><!-- Document Start -->
                          <p>이론과 현장 실무능력을 갖춘 소프트웨어 전문인력 양성<br><br></p>
                          <!-- Document End --></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><img src="../images/sub09_01title02.gif" width="71" height="18"></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="3"></td>
                      </tr>
                      <tr>
                        <td width="30">&nbsp;</td>
                        <td width="600" class="text04"><p> <span class="text07">1) 수요자 중심형 트랙제 교과과정 개편 </span><br>
                          - 산업체 수요를 반영한 4개의 주요 트랙별 교과과정 개편 <br>
                          - 산업체 및 졸업생 설문조사를 통한 교과과정 개편 및 내용 보완 계획 <br>
                          - 이론중심의 강의방식을 지양하고, 산업체에서 요구하는 실습수업 확대 <br>
                          - 팀티칭 및 인턴쉽 운영을 통한 현장 실습 수업 확대 <br>
                          - 산업체 연구프로젝트에 선발 학생 참여로 프로젝트 실무 교육 강화 <br>
                          <br>
                          <span class="text07">2) 산학 협력 활성화 </span><br>
- 학과교수 및 산업체 연구원으로 구성된 교과과정 운영위원회 운영 <br>
- 산업체 현장 실습 및 인턴쉽을 통한 참여 기업과의 연계성 강화 <br>
- 산업체 기술 수요에 부응하는 교육실시 <br>
- 산학 공동 연구 및 기술 지원 <br>
- 산학연 협동에 경험이 많은 우수한 교원 확보 <br>
- 산업체의 인력들을 위한 특별과정 개설 <br>
- 벤처기업 및 지역경제와 관련된 세미나 및 강연회 개최 <br>
- 산학 연계 관련으로 활용될 공간의 개방 <br>
<br>
<span class="text07">3) 맞춤형 인재 양성 및 취업 활성화 </span><br>
- 학생들의 특기 적성에 맞는 트랙 선택 유도 <br>
- 참여기업을 통한 학생들의 장단기 현장 실습 기회 제공 <br>
- 트랙별 성적 우수자는 각 트랙 소속 업체에 우선 취업 지원 <br>
- 선발 학생에 대한 동아리 지원 및 경진대회 개최 <br>
- 학생 진로 및 취업지원을 위한 종합적인 서비스를 제공하는 커리어넷 운영 <br>
- 학생 취업과 관련한 업무를 전담으로 하는 취업 전담 </p>
                          </td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
                <td width="33" background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="../images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="../images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="../images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
