<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../flash.js"></script>
</SCRIPT>
<style type="text/css">
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="../images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm} </td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><img src="../images/tit_09_15.gif" ></td>
                            <td><img src="../images/new_icon.gif" align="absmiddle" ></td>
                          </tr>
                        </table></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 지원사업실적 </td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3" ></td>
                    </tr>
                </table></td>
                <td background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><img src="../images/sub09_00img01.gif" width="634" height="593" border="0" usemap="#Map"></td>
                <td width="33" background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="../images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="../images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="../images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>

<map name="Map">
  <area shape="rect" coords="277,4,625,44" href="09_work_13.php">
  <area shape="rect" coords="276,50,624,90" href="09_work_12.php">
  <area shape="rect" coords="276,95,624,135" href="09_work_01.php">
  <area shape="rect" coords="276,139,624,179" href="09_work_11.php">
  <area shape="rect" coords="276,184,624,224" href="09_work_02.php">
  <area shape="rect" coords="276,227,624,267" href="09_work_03.php">
  <area shape="rect" coords="276,272,624,312" href="09_work_04.php">
  <area shape="rect" coords="277,316,625,356" href="09_work_05.php">
  <area shape="rect" coords="276,359,624,399" href="09_work_06.php">
  <area shape="rect" coords="277,403,625,443" href="09_work_07.php">
  <area shape="rect" coords="277,448,625,488" href="09_work_08.php">
  <area shape="rect" coords="277,493,625,533" href="09_work_09.php">
  <area shape="rect" coords="277,536,625,576" href="09_work_10.php">
  
</map>
</body>
</html>
