<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../flash.js"></script>
</SCRIPT>
<style type="text/css">
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="../images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm}</td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 0px solid red;">
                        <tr>
                          <td><img src="../images/tit_09_15.gif" ></td>
                          <td><img src="../images/new_icon.gif" align="absmiddle"></td>
                        </tr>
                      </table></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 지원사업실적 </td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3" ></td>
                    </tr>
                </table></td>
                <td background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="666" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="../images/sub09_01title03.gif" width="90" height="18"></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="3"></td>
                      </tr>

                      <tr>
                        <td width="30">&nbsp;</td>
                        <td width="600" class="text04"><!-- Document Start -->
                          <p>국제 수준의 경쟁력 있는 교육 시스템 구축을 통한 문제 해결 능력과 실무 능력을 겸비한<br>
소프트웨어 전문 인력 양성<br>
                            <br>
                            <span class="text07"><img src="../images/icon_100.gif" width="4" height="6"> 3차년도 목표 및 사업비<br>
                            </span>- 목표: 2009년 진행된 신규 공학교육인증 과정을 통하여 구축된 공학교육 시스템의 각종 평가도구 평가, 개선을 통하여 공학교육시스템의 품질을 개선함으로써 지속적으로 수요지향적 교육 및 성과기반 교육이 될 수 있도록 한다.<br>
                            - 사업비: 1억8천만원<br>
							- 2008년 ~ 2009년 NEXT사업의 일환으로 진행된 고용연계형 인턴쉽의 취업 연계, 인턴쉽과 멘토링으로 인한 산학연계 및 전공실무능력 향상 등의 실적으로 인하여 “우수” 평가를 받아 2012년 2월까지 2년간 연장 지원됨.<br>
                            <br>
                          </p>
                          <!-- Document End --></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><img src="../images/sub09_01title02.gif" width="71" height="18"></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="3"></td>
                      </tr>
                      <tr>
                        <td width="30">&nbsp;</td>
                        <td width="600" class="text04"><p><span class="text07">1) 수요지향적 교육</span><br>
                          - 산업체 수요를 파악한 맞춤형 실무중심 교육<br>
                          - 산업체 현장 실습 및 인턴쉽 확대<br>
                          - 산업체 고용주의 요구 반영</p>                          
                          <p><span class="text07">2) 성과기반 교육</span><br>
                            - 공학인증 기반 교과과정 개편<br>
                            - 학습 성과 중심의 능력과 자질 배양<br>
                            - 지속적인 성취도 관찰<br>
                            - 현장 적응 능력 배양</p>
                          <p><span class="text07">3) 교육시스템의 지속적 개선</span><br>
                            - 전임교수 신규 채용을 통하여 다양한 교수진을 구성함으로써 교육환경 개선<br>
                            - 순환적 자율개선형 공학교육인증 체계 강화<br>
                            - 공인원 인증 획득<br>
                            - 조교 충원을 통한 교육 환경 개선<br>
                            - 시설 확충 및 환경 개선</p>
                          <p><span class="text07">4) 산학협동 강화</span><br>
                            - 설계 교육 강화<br>
                            - 현장실습 및 인턴쉽 활성화<br>
                            - IT 멘토링 확대<br>
                            <br>
                          </p></td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><img src="../images/sub09_01title04.gif" width="121" height="18"></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10" colspan="3"></td>
                      </tr>
                      <tr>
                        <td width="30">&nbsp;</td>
                        <td width="600" class="text04"><p><span class="text07">1) 기자재 및 재료비 (소요경비: 56백만원)</span><br>
                          - 16포트 기가스위칭 허브 4대 (네트워크 실습용)<br>
                          - 페넘II 64비트 다중GPGPU 시스템 2대 (대당 5GFLOPS 이상의 성능을 부동소수점 연산<br>
&nbsp;&nbsp;      능력을 가지는 서버로 컴퓨팅 파워를 필요로 하는 애플리케이션 개발에 사용.<br>
&nbsp;&nbsp;      (OpenCL,OpenGL, OpenMP, MPI, PVM 등의 개발 플랫폼 실습 가능)<br>
						  - 인텔64비트 다중GPGPU 시스템 2대 (페넘II 다중GPGPU 시스템에 대응하는 인텔 서버)<br>
						  - 하이버스 X-Hyper320TKU 임베디드 실습장비 6대<br> &nbsp;&nbsp; (리눅스 커널, 장치라이버, 모바일프로그램, 무선 네트워크 프로그램 개발)<br>
						  - XDB 디버거 1대(X-Hyper320TKU 임베디드 실습장비 개발에 사용되는 파일 시스템 업로더)<br>
						  - H-AI-CAR 지능형 자동차 3대<br> &nbsp;&nbsp; (3축 가속센서, 적외선 센서 등의 다양한 센서와 카메라 장치를 구비한 자율 이동형 자동차로 캡스톤 설계,<br> &nbsp;&nbsp; 임베디드 실습 등에 활용)<br>
						  - Hmote5TR1 위치인식시스템 1대<br> &nbsp;&nbsp;(센서 네트워크, 애드혹 네트워크에서 GPS의 도움 없이 위치 인식을 위한 장비로 캡스톤 설계, <br>&nbsp;&nbsp; 유비쿼터스 응용시스템 등의 실습에 활용)<br></p>
                          

							<p><span class="text07">2) 인턴쉽 지원 (예상 소요경비: 15백만원)</span><br>
                            - IT기업인(IT멘토)이 기획한 실무과제를 대학교수와 학생(IT멘티)가 수행할 수 있도록 지원하는 온라인 산학협업 프로그램<br>
                            - 2010년도에는 12개의 장/중/단기 프로그램에 30명 이상의 학생 참여 예정</p>


							<p><span class="text07">3) 멘토링 (예상 소요경비 : 10.2백만원 - 정보통신연구진흥원/한국정보산업연합회 지원)</span><br>
                            - 일반 인턴쉽: 3~4학년 대상으로 여름방학 6주 동안 업체 인턴 활동을 통하여 실무 경험<br>
                            - 고용연계형 IT인턴쉽: 4학년 대상으로 여름방학 2달 동안 업체에서 인턴 활동 후 고용연계 가능</p>
							<p><span class="text07">4) 외부 전문가 초청 (19.5백만원)</span><br>
                            - 전문가 초청 세미나 : 우수 IT 기업의 CEO급 인사를 초청하여 IT분야의 최신 동향과 취업에 필요로 하는 기술 개발 노력 등에 대한 
세미나 개최<br>
                            - 산업체전문가강의교수 : 산업체 전문가를 초빙하여 학과 겸임교수로 활용<br>
							- 산업체자문위원회 개최 : 산업체 전문가를 학과 자문위원으로 활용하여 산업체의 최신 요구사항을 지속적으로 학과 교육에 반영<br>
							- 팀티칭 프로그램 : IT업체의 실무 전문가를 초청하여 교과목 강의시간에 최신 동향 및 실무 경험 강의<br></p>
							<p><span class="text07">5) 학과 공학인증 지원(40백만원)</span><br>
                            - 과제조교 및 실습조교 추가 확보 : 공학인증 관련 학사 업무 지원을 위한 행정인력과 실습 관련 업무 지원을 위한 실습조교를 추가로 확보함으로써 학과의 공학인증 활동을 체계적으로 지원<br>
                          </td>
                        <td class="text04">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
                <td width="33" background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="../images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="../images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="../images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
