<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../flash.js"></script><noscript></noscript>
<script type="text/javascript" src="../common.js"></script><noscript></noscript>
<script type="text/javascript" src="../httpRequest.js"></script><noscript></noscript>
<style type="text/css">
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
<SCRIPT LANGUAGE="JavaScript" >
<!--
function checkForm(frm){
	var elm = frm.userid;

	if (isNull(frm.sosok.value)) {
		alert("소속을 입력하세요.");
		frm.sosok.value = '';
		frm.sosok.focus();
		return false;
	}

	if (frm.flag[0].checked == true)
	{
		if (isNull(frm.stunumb.value))
		{
			alert('학번을 입력하세요.');
			frm.stunumb.value = '';
			frm.stunumb.focus();
			return false;
		}
	}

	if (isNull(frm.name.value)) {
		alert("이름을 입력하세요.");
		frm.name.value = '';
		frm.name.focus();
		return false;
	}

	if (isNull(frm.pincode.value)) {
		alert("비밀번호를 입력하세요.");
		frm.pincode.value = '';
		frm.pincode.focus();
		return false;
	}

	if(frm.pincode.length < 4 || frm.pincode.length > 12){
		alert("비밀번호는 4자이상 12자까지 입력가능합니다.");
		frm.pincode.value = "";
		frm.pincode.focus();
	 return false;
	}

	if(frm.pincode.value != frm.pincodeRE.value){
		alert("비밀번호를 다시 확인 바랍니다.");
		frm.pincode.value = '';
		frm.pincodeRE.value = '';
		frm.pincode.focus();
	 return false;
	}

	return true;
}

function init() {
	document.frm.sosok.focus();
	showRequiredElm();
}
//-->
</SCRIPT>
</head>
<body onload="init()">
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="../images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm}</td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><img src="../images/tit_10_03.gif" width="97" height="29"></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 회원정보 &gt; 회원수정</td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3" ></td>
                    </tr>
                </table></td>
                <td background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top">
					 <form name="frm" method="post" action="10_member_03_post.php" onsubmit="return checkForm(this);">
					 <table width="666" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="../images/s_8_2_tit2.gif" width="217" height="59" /></td>
                  </tr>
                  <tr>
                    <td><table width="666" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td height="2" colspan="6" bgcolor="#1577B2"></td>
                            </tr>
                            <tr>
                              <td width="90" height="30" align="right" class="tvdate">구 분</td>
                              <td width="21"><img src="../images/s_8_2_2.gif" width="21" height="21" /></td>
                              <td colspan="4" width="555" class="text05">
								<input name="flag" type="radio" class="text01" id="flag" value="재학생" <!--{? detail.flag == '재학생' }-->checked<!--{/}-->>
								재학생
								<input name="flag" type="radio" class="text01" id="flag" value="졸업생" <!--{? detail.flag == '졸업생' }-->checked<!--{/}-->>
								졸업생
								<input name="flag" type="radio" class="text01" id="flag" value="일반인" <!--{? detail.flag == '일반인' }-->checked<!--{/}-->>
								일반인
							  </td>
                            </tr>
                            <tr>
                              <td height="1" colspan="6" align="right" bgcolor="dadbe3"></td>
                            </tr>
                            <tr>
                              <td width="90" height="30" align="right" class="tvdate">소속<br />(학교/학과)</td>
                              <td width="21"><img src="../images/s_8_2_2.gif" width="21" height="21" /></td>
                              <td width="227">
											<input name="sosok" type="text" id="sosok" size="18" maxlength="18" class="input" value="{detail.sosok}" required />
											<br />
											<span class="text02">일반인은 소속만 입력해주시기 바랍니다.</span>
										</td>
                              <td width="90" align="right" class="tvdate">학번</td>
                              <td width="21"><img src="../images/s_8_2_2.gif" width="21" height="21" /></td>
                              <td width="217"><input name="stunumb" type="text" id="stunumb" size="18" maxlength="18" class="input" value="{detail.stunumb}" /></td>
                            </tr>
                            <tr>
                              <td height="2" colspan="6" bgcolor="#1577B2"></td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td><table width="650" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td width="90" height="30" align="right" class="tvdate">이 름</td>
                              <td width="21"><img src="../images/s_8_2_2.gif" width="21" height="21" /></td>
                              <td colspan="4" width="555" class="text05"><input name="name" type="text" id="join" size="18" class="input" maxlength="18" value="{detail.name}" required /></td>
                            </tr>
                            <tr>
                              <td height="1" colspan="6" align="right" bgcolor="dadbe3"></td>
                            </tr>
                            <tr>
                              <td width="90" height="30" align="right" class="tvdate">아이디</td>
                              <td width="21"><img src="../images/s_8_2_2.gif" width="21" height="21" /></td>
                              <td colspan="4" width="555">
								{detail.userid}
							  </td>
                            </tr>
                            <tr>
                              <td height="1" colspan="6" align="right" bgcolor="dadbe3"></td>
                            </tr>
                            <tr>
                              <td width="90" height="30" align="right" class="tvdate">비밀번호</td>
                              <td width="21"><img src="../images/s_8_2_2.gif" width="21" height="21" /></td>
                              <td width="227"><span class="text05">
                                <input name="pincode" type="password" id="join3" size="18" maxlength="18" class="input" required />
                              </span></td>
                              <td width="90" align="center"><span class="tvdate">비밀번호확인</span></td>
                              <td width="21"><img src="../images/s_8_2_2.gif" width="21" height="21" /></td>
                              <td width="217"><span class="text05">
                                <input name="pincodeRE" type="password" id="join6" size="18" maxlength="18" class="input" required />
                              </span></td>
                            </tr>
                            <tr>
                              <td height="1" colspan="6" align="right" bgcolor="dadbe3"></td>
                            </tr>
                            <tr>
                              <td height="30" colspan="6" align="right" class="tb01">
										  <table width="666" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="112">&nbsp;</td>
                                    <td height="20" class="text02"><p>(영문으로 시작하는 4~12자리의 영문과 숫자 조합만 사용할 수 있습니다. )</p></td>
                                  </tr>
                                </table>
										</td>
                            </tr>
                            <tr>
                              <td height="1" colspan="6" align="right" bgcolor="dadbe3"></td>
                            </tr>
                            <tr>
                              <td width="90" height="30" align="right" class="tvdate">자택전화</td>
                              <td width="21"><img src="../images/s_8_2_2.gif" width="21" height="21" /></td>
                              <td width="227"><span class="text05">
                                <input name="phone1" type="text" id="phone1" size="4" maxlength="3" class="input" value="{detail.phone1}" />
                                -
                                <input name="phone2" type="text" id="phone2" size="4" maxlength="4" class="input" value="{detail.phone2}" />
                                </span>-<span class="text05">
                                <input name="phone3" type="text" id="phone3" size="4" maxlength="4" class="input" value="{detail.phone3}" />
                              </span></td>
                              <td width="90" align="center"><span class="tvdate">핸드폰</span></td>
                              <td width="21"><img src="../images/s_8_2_2.gif" width="21" height="21" /></td>
                              <td width="217"><span class="text05">
                                <input name="cellp1" type="text" id="cellp1" size="4" maxlength="3" class="input" value="{detail.cellp1}" />
                                -
                                <input name="cellp2" type="text" id="cellp2" size="4" maxlength="4" class="input" value="{detail.cellp2}" />
                                </span>-<span class="text05">
                                <input name="cellp3" type="text" id="cellp3" size="4" maxlength="4" class="input" value="{detail.cellp3}" />
                              </span></td>
                            </tr>
                            <tr>
                              <td height="1" colspan="6" align="right" bgcolor="dadbe3"></td>
                            </tr>
                            <tr>
                              <td width="90" height="30" align="right" class="tvdate">E-MAIL</td>
                              <td width="21"><img src="../images/s_8_2_2.gif" width="21" height="21" /></td>
                              <td colspan="4" width="555"><input name="email" type="text" id="email" size="60" maxlength="60" class="input" value="{detail.email}" /></td>
                            </tr>
                            <tr>
                              <td height="1" colspan="6" align="right" bgcolor="dadbe3"></td>
                            </tr>
                            <tr>
                              <td width="90" height="30" align="right" class="tvdate">주소</td>
                              <td width="21"><img src="../images/s_8_2_2.gif" width="21" height="21" /></td>
                              <td colspan="4" width="555"><input name="post1" type="text" id="post1" size="4" maxlength="3" class="input" value="{detail.post1}" readonly />
                                -
                                <input name="post2" type="text" id="post2" size="4" maxlength="3" class="input" value="{detail.post2}" readonly />
            <a href="#" onClick="window.open('pop_post.php','add','resizable=no scrollbars=auto width=400 height=240');return false" ><img src="../images/s_8_2_bt_5.gif" width="48" height="21" align="absmiddle" /></a></td>
                            </tr>
                            <tr>
                              <td width="90" height="30" align="right" class="tb01">&nbsp;</td>
                              <td width="21"><img src="../images/s_8_2_2.gif" width="21" height="21" /></td>
                              <td colspan="4" width="555"><input name="addr1" type="text" id="addr1" size="60" class="input" value="{detail.addr1}" readonly />
                                &nbsp;</td>
                            <tr>
                              <td width="91" height="30" align="right" class="tb01">&nbsp;</td>
                              <td width="21"><img src="../images/s_8_2_2.gif" width="21" height="21" /></td>
                              <td colspan="4"><input name="addr2" type="text" id="addr2" size="60" class="input" value="{detail.addr2}" />
                                &nbsp;</td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td height="2" colspan="6" bgcolor="#1577B2"></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="center"><input type="image" src="../images/s_8_2_bt_3.gif" width="63" height="37" />&nbsp;<a href="10_member_01.php"><img src="../images/s_8_2_bt_2.gif" width="63" height="37" /></a></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
						  </form>
						  </td>
                  </tr>
                </table></td>
                <td width="33" background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="../images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="../images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="../images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>