<table width="950" height="76" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="741" valign="top"><div id="menu">
      <script>flash('../images/menu.swf','741','92');</script>
    </div></td>
    <td height="76"><table width="209" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="23">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="56"><a href="javascript:submenu('m999');" onfocus="this.blur();"><img src="../images/t_bt_home.gif" alt="HOME" width="56" height="53" /></a></td>
		  <!--{? _SESSION['user']->auth != true }-->
        <td width="47"><a href="javascript:submenu('m101');" onfocus="this.blur();"><img src="../images/t_bt_login.gif" alt="LOGIN" width="47" height="53" /></a></td>
        <td width="43"><a href="javascript:submenu('m102');" onfocus="this.blur();"><img src="../images/t_bt_join.gif" alt="JOIN" width="43" height="53" /></a></td>
		  <!--{:}-->
        <td width="47"><a href="10_member_01_02_post.php" onfocus="this.blur();"><img src="../images/t_bt_logout.gif" alt="LOGOUT" border="0" /></a></td>
        <td width="43"><a href="10_member_03.php" onfocus="this.blur();"><img src="../images/t_bt_mypage.gif" alt="MYPAGE" border="0" /></a></td>
		  <!--{/}-->
        <td><a href="javascript:submenu('m777');" onfocus="this.blur();"><img src="../images/t_bt_sitemap.gif" alt="SITEMAP" width="63" height="53" /></a></td>
      </tr>
    </table></td>
  </tr>
</table>
