<table width="100%" height="40" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="5"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="25"></td>
            <td height="1" bgcolor="b8d6e8"></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
      <tr>
        <td width="529"><img src="../images/tail_01.gif" width="529" height="40"></td>
        <td width="112"><a href="06_com_01.php" onfocus="this.blur();"><img src="../images/tail_02.gif" width="112" height="40" alt="학과관련커뮤니티" border="0" /></a></td>
        <td width="99"><a href="05_notice_02.php" onfocus="this.blur();"><img src="../images/tail_04.gif" width="99" height="40" alt="학과관련자료실" border="0" /></a></td>
        <td><a href="http://stmail.deu.ac.kr" onfocus="this.blur();" target="_blank"><img src="../images/tail_05.gif" width="106" height="40" alt="학생용 웹메일" border="0" /></a></td>
      </tr>
    </table>
