<script type="text/javascript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<body onload="MM_preloadImages('../images/sm02_01o.gif','../images/sm02_02o.gif','../images/sm02_03o.gif','../images/sm02_04o.gif','../images/sm02_05o.gif','../images/sm02_06o.gif','../images/sm02_07o.gif','../images/sm02_08o.gif')">
<table width="210" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="61" rowspan="2" valign="top"><img src="../images/s_left_bg_01.gif" width="61" height="383" /></td>
    <td height="14" valign="top"><img src="../images/s_left_bg_02.gif" width="149" height="14" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="100" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="200" valign="top"><table width="149" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><a href="02_abeek_01.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','../images/sm02_01o.gif',1)"  onfocus="this.blur();"><img src="../images/sm02_01<!--{? pageID == '02_abeek_01' }-->o<!--{/}-->.gif" name="Image4" width="149" height="23" border="0" id="Image4" /></a></td>
  </tr>
  <tr>
    <td><a href="02_abeek_02.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','../images/sm02_02o.gif',1)"  onfocus="this.blur();"><img src="../images/sm02_02<!--{? pageID == '02_abeek_02' }-->o<!--{/}-->.gif" name="Image5" width="149" height="23" border="0" id="Image5" /></a></td>
  </tr>
  <tr>
    <td><a href="02_abeek_03.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','../images/sm02_03o.gif',1)"  onfocus="this.blur();"><img src="../images/sm02_03<!--{? pageID == '02_abeek_03' }-->o<!--{/}-->.gif" name="Image6" width="149" height="23" border="0" id="Image6" /></a></td>
  </tr>
  <tr>
    <td><a href="02_abeek_04.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','../images/sm02_04o.gif',1)"  onfocus="this.blur();"><img src="../images/sm02_04<!--{? pageID == '02_abeek_04' }-->o<!--{/}-->.gif" name="Image7" width="149" height="23" border="0" id="Image7" /></a></td>
  </tr>
  <tr>
    <td><a href="02_abeek_05.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image8','','../images/sm02_05o.gif',1)"  onfocus="this.blur();"><img src="../images/sm02_05<!--{? pageID == '02_abeek_05' }-->o<!--{/}-->.gif" name="Image8" width="149" height="23" border="0" id="Image8" /></a></td>
  </tr>
  <tr>
    <td><a href="02_abeek_06.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image9','','../images/sm02_06o.gif',1)"  onfocus="this.blur();"><img src="../images/sm02_06<!--{? pageID == '02_abeek_06' }-->o<!--{/}-->.gif" name="Image9" width="149" height="23" border="0" id="Image9" /></a></td>
  </tr>
  <tr>
    <td><a href="02_abeek_07.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image10','','../images/sm02_07o.gif',1)"  onfocus="this.blur();"><img src="../images/sm02_07<!--{? pageID == '02_abeek_07' }-->o<!--{/}-->.gif" name="Image10" width="149" height="23" border="0" id="Image10" /></a></td>
  </tr>
  <tr>
    <td><a href="02_abeek_08.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11','','../images/sm02_08o.gif',1)"  onfocus="this.blur();"><img src="../images/sm02_08<!--{? pageID == '02_abeek_08' }-->o<!--{/}-->.gif" name="Image11" width="149" height="23" border="0" id="Image11" /></a></td>
  </tr>
</table>
</td>
      </tr>
      <tr>
        <td height="90"><a href="javascript:submenu('m911');" onfocus="this.blur();"><img src="../images/s_banner_01.gif" width="149" height="70" /></td>
      </tr>
    </table></td>
  </tr>
  
</table>
