<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>졸업생인터뷰</title>
<script type="text/javascript" src="../flash.js"></script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style></head>

<body>
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="3"><img src="../images/sub06_03p01.gif" width="600" height="117"></td>
  </tr>
  <tr>
    <td width="85"><img src="../images/sub06_03p02.gif" width="85" height="300"></td>
    <td width="430"><table width="430" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td bgcolor="#000000">
		<script>flash('../images/kim.swf','430','300');</script>
		</td>
      </tr>
    </table></td>
    <td width="85"><img src="../images/sub06_03p03.gif" width="85" height="300"></td>
  </tr>
  <tr>
    <td colspan="3"><img src="../images/sub06_03p04.gif" width="600" height="83"></td>
  </tr>
</table>
</body>
</html>
