<table width="400" height="239" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="61" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="339"><img src="../images/pop_2_1.gif" width="339" height="61" /></td>
        <td><img src="../images/pop_1_2.gif" width="61" height="61" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="50" valign="middle">&nbsp;&nbsp;&nbsp;찾고자 하시는 주소의 동(읍/면/리)을 입력하세요.</td>
  </tr>
  <tr>
    <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="7">&nbsp;</td>
        <td width="168" align="right" class="tb01">동(읍/면/리)&nbsp;</td>
        <td width="120"><input name="pw" type="text" id="pw" size="18" maxlength="18" /></td>
        <td width="56"><img src="../images/pop_1_bt_1.gif" width="48" height="21" /></td>
        <td width="49">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="128">&nbsp;</td>
  </tr>
</table>
