<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>{C.SANGHO}</title>
<link href="../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../flash.js"></script>

<style type="text/css">

table#biz { border: 1px solid black; }
			 
<!--
#menu {
	position:absolute;
	width:741px;
	height:92px;
	z-index:2;
}
#main_img {
	position:absolute;
	width:950px;
	height:341px;
	z-index:1;
}
#sub_img {
	position:absolute;
	width:950px;
	height:186px;
	z-index:1;
}
-->
</style>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="950" height="621" valign="top"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="261" valign="top" background="../images/s_bg_01.gif"><table width="950" height="261" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="76" valign="top">{#inc_top}</td>
          </tr>
          <tr>
            <td height="186" valign="top">{#inc_sub_img}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="950" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="210" valign="top">{#inc_sm}</td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="336" height="29"><img src="../images/tit_08_03.gif" width="97" height="29"></td>
                      <td width="321" align="right" class="textnavi">HOME &gt; 진로/취업 &gt; 취업실적</td>
                      <td width="10" class="textnavi">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="1" colspan="3" bgcolor="d0e4f0"></td>
                    </tr>
                    <tr>
                      <td height="20" colspan="3"></td>
                    </tr>
                </table></td>
                <td background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td width="40" height="400" background="../images/s_bg_02.gif">&nbsp;</td>
                <td valign="top"><table width="666" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="10" colspan="3"></td>
                  </tr>

                  <tr>
                    <td width="30">&nbsp;</td>
                    <td width="600" class="text01"><p class="text09">컴퓨터소프트웨어공학과의 협력 업체는 다음과 같다. 2000년 신설된 컴퓨터소프트웨어공학과는 부산 지역 유일의 소프트웨어 전문학과로서  산업체와의 긴밀한 협력 관계를 통하여 산업체 수요지향적인 소프트웨어 전문인력을 양성하고 있다.<BR>
                    </p></td>
                    <td class="text04">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td class="text04">&nbsp;</td>
                    <td class="text04">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td height="25" class="text04">
					
					<div id="div_table">
					   <table id="biz">
					   <thead>
						   <tr style="background-color:#CCCCCC;">
						   <th style="width:10em;text-align:center;">연도</th> <th style="text-align:center;">업체명</th>  
						   </tr>
					   </thead>
					   <tbody>
						   <tr>
						   <td style="text-align:center;"> 2013 </td>
						   <td style="text-align:left;">
						   나무기술(서울), 디지틀조선일보(서울), 웨이브엠(서울), 프로엠테크놀러지, 씨네폭스, KNN방송, 부산국제영화제,
						   엑세스부산, 후이즈, 아이위즈, 엔시정보기술, PKT, 인티브소프트, 부산정보산업진흥원
						   </td>
						   </tr>
					   </tbody>
					   </table>
					</div>
					
					</td>
                    <td class="text04">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td height="25" class="text01">&nbsp;</td>
                    <td class="text04">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td height="25" class="text04">&nbsp;</td>
                    <td class="text04">&nbsp;</td>
                  </tr>
                </table></td>
                <td width="33" background="../images/s_bg_03.gif">&nbsp;</td>
              </tr>
              <tr>
                <td height="75" background="../images/s_bg_04.gif">&nbsp;</td>
                <td>&nbsp;</td>
                <td background="../images/s_bg_05.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="621" background="../images/main_bg_02.gif">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">{#inc_copy}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
