<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>동의대학교 컴퓨터소프트웨어공학과 홈페이지입니다.</title>
<link href="../../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="flash.js"></script>
<style type="text/css">

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#apDiv1 {
	position:absolute;
	left:72px;
	top:28px;
	width:840px;
	height:70px;
	z-index:1;
}

</style>
<script type="text/javascript">
</script>
</head>

<body onLoad="MM_preloadImages('../../images/pro3/sm03_01bo.gif','../../images/pro3/sm03_02bo.gif','../../images/pro3/sm03_03bo.gif');">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="72">&nbsp;</td>
            <td width="840"><table width="840" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="28" align="right" valign="bottom"><a href="index.html"><img src="/front/template/images/pro3/top_home.gif" width="36" height="16"></a><img src="/front/template/images/pro3/top_contact.gif" width="65" height="16"><a href="06_board01.html"><img src="/front/template/images/pro3/top_notice.gif" width="56" height="16"></a></td>
              </tr>
              <tr>
                <td height="197">
                  <div id="apDiv1">
                    <script>flash('/front/template/images/pro3/menu.swf', '840', '70');</script><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="840" height="70">
                  <param name="movie" value="/front/template/images/pro3/menu.swf">
                  <param name="quality" value="high">
                  <param name="wmode" value="transparent">
                  <param name="menu" value="false">
                  <!-- <embed src="/front/template/images/pro3/menu.swf" width="840" height="70" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" menu="false"> -->
                  </object>
                  </div>
                  <script>flash('/front/template/images/pro3/sub_3.swf', '840', '197');</script><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="840" height="197">
                  <param name="movie" value="/front/template/images/pro3/sub_1.swf">
                  <param name="quality" value="high">
                  <param name="wmode" value="transparent">
                  <param name="menu" value="false">
                  <!-- <embed src="/front/template/images/pro3/sub_1.swf" width="840" height="197" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" menu="false"> -->
                  </object>
                  </td>
              </tr>
            </table></td>
            <td width="88">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="1000"height="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="72" valign="top"><table width="72" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="179" background="../../images/pro3/left_back.gif">&nbsp;</td>
              </tr>
            </table></td>
            <td width="840" valign="top"><table width="840" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="18" background="../../images/pro3/con_top.gif"></td>
              </tr>
              <tr>
                <td background="../../images/pro3/con_mid.gif"><table width="840" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="212" align="center" valign="top"><script type="text/javascript">
                      <!--
                      function MM_swapImgRestore() { //v3.0
                        var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
                      }
                      function MM_preloadImages() { //v3.0
                        var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
                          var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
                          if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
                      }
                      
                      function MM_findObj(n, d) { //v4.01
                        var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
                          d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
                        if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
                        for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
                        if(!x && d.getElementById) x=d.getElementById(n); return x;
                      }
                      
                      function MM_swapImage() { //v3.0
                        var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
                         if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
                      }
                      //-->
                      </script>
                      <table width="169" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                          <td><a href="03_res_03.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','/front/template/images/pro3/sm03.gif',1)"><img src="/front/template/images/pro3/sm03.gif" name="Image6" width="169" height="19" border="0"></a></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="22">&nbsp;</td>
                        </tr>
                        <tr>
                          <td><img src="/front/template/images/pro3/sm_tel.gif" width="169" height="29"></td>
                        </tr>
                      </tbody></table></td>
                    <td align="center" valign="top"><table width="581" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="36" background="../../images/pro3/title_back.gif"><img src="../../images/pro3/tit03.gif" width="202" height="36"></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="581" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="110"><a href="03_res.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image5','','../../images/pro3/sm03_01bo.gif',1)"><img src="../../images/pro3/sm03_01b.gif" name="Image5" width="100" height="31" border="0"></a></td>
                            <td width="110"><a href="03_res_02.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','../../images/pro3/sm03_04bo.gif',1)"><img src="../../images/pro3/sm03_04b.gif" name="Image6" width="100" height="31" border="0"></a></td>
                            <td><a href="03_res_03.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7','','../../images/pro3/sm03_03bo.gif',1)"><img src="../../images/pro3/sm03_03bo.gif" name="Image7" width="100" height="31" border="0"></a></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="581" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="10">&nbsp;</td>
                            <td><span class="tvdate"><img src="../../images/pro3/icon_01.gif" width="16" height="16" align="absmiddle">저서</span></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td><table width="571" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
                              <tr>
                                <td width="30" align="center" bgcolor="#F4F4F4"><strong>순번</strong></td>
                                <td align="center" bgcolor="#F4F4F4"><p><strong>제목</strong></p></td>
                                <td width="100" align="center" bgcolor="#F4F4F4"><strong>출판사</strong></td>
                                <td width="100" align="center" bgcolor="#F4F4F4"><strong>일자</strong></td>
                              </tr>
							  <tr>
                                <td align="center" bgcolor="#FFFFFF">1</td>
                                <td valign="middle" bgcolor="#FFFFFF"><p> 영상부호화 프로그래밍</p></td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF"><p>GS인터비젼</p></td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF">2010년 3월</td>
                              </tr>
                              <tr>
                                <td align="center" bgcolor="#FFFFFF">2</td>
                                <td valign="middle" bgcolor="#FFFFFF"><p> 자바 프로그래밍</p></td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 두양사</p></td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF">2004년 2월 </td>
                              </tr>
                              <tr>
                                <td align="center" bgcolor="#FFFFFF">3</td>
                                <td valign="middle" bgcolor="#FFFFFF"><p> 고급 C 언어의 응용 및 실습 </p></td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 두양사</p></td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF">2004년 2월 </td>
                              </tr>
                              <tr>
                                <td align="center" bgcolor="#FFFFFF">4</td>
                                <td valign="middle" bgcolor="#FFFFFF"><p> C언어 프로그래밍</p></td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 두양사</p></td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF">2003년 9월 </td>
                              </tr>
                              <tr>
                                <td align="center" bgcolor="#FFFFFF">5</td>
                                <td valign="middle" bgcolor="#FFFFFF"><p> 응용 비주얼베이직 6.0</p></td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 두양사 </p></td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF">2003년 2월 </td>
                              </tr>
                              <tr>
                                <td align="center" bgcolor="#FFFFFF">6</td>
                                <td valign="middle" bgcolor="#FFFFFF">컴퓨터 활용 시리즈 2 엑셀 2002</td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF">두양사 </td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF">2003년 2월 </td>
                              </tr>
                              <tr>
                                <td align="center" bgcolor="#FFFFFF">7</td>
                                <td valign="middle" bgcolor="#FFFFFF">컴퓨터 활용 시리즈 2 문서작성</td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF">두양사 </td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF">2003년 2월</td>
                              </tr>
                              <tr>
                                <td align="center" bgcolor="#FFFFFF">8</td>
                                <td valign="middle" bgcolor="#FFFFFF">컴퓨터 활용 시리즈 2 홈페이지 제작”</td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF">두양사 </td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF"> 2003년 2월 </td>
                              </tr>
                              <tr>
                                <td align="center" bgcolor="#FFFFFF">9</td>
                                <td valign="middle" bgcolor="#FFFFFF">Visual Basic 6.0 프로그래밍</td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF">다성출판사 </td>
                                <td align="center" valign="middle" bgcolor="#FFFFFF">2001년 8월 </td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="581" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="10">&nbsp;</td>
                            <td><span class="tvdate"><img src="../../images/pro3/icon_01.gif" width="16" height="16" align="absmiddle">특허</span></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td><table width="571" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
                                <tr>
                                  <td width="30" align="center" bgcolor="#F4F4F4"><strong>순번</strong></td>
                                  <td align="center" bgcolor="#F4F4F4"><p><strong>제목</strong></p></td>
                                  <td width="100" align="center" bgcolor="#F4F4F4"><strong>등록번호</strong></td>
                                  </tr>
                                                                                        <tr>
                                  <td align="center" bgcolor="#FFFFFF">1</td>
                                                                                            <td valign="middle" bgcolor="#FFFFFF">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="mso-fareast-font-family:바탕;background:#ffffff;">영상 부호화를 위한 스칼라 양자화 방법</span></p>
                                                                                            </td>
                                                                                            <td align="center" valign="middle" bgcolor="#FFFFFF">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span lang="EN-US" style="font-family:바탕;mso-font-width:100%;letter-spacing:0pt;mso-text-raise:0pt;background:#ffffff;">10-1173305-0000</span></p>
                                                                                            </td>
                                                                                        </tr>
								 <tr>
                                                                                            <td height="40" align="center" bgcolor="white">2</td>
                                                                                            <td height="82" valign="middle" bgcolor="white"><p>유전자 알고리즘을 이용한 최단경로</p></td>
                                                                                            <td height="82" align="center" valign="middle" bgcolor="white"><p>프로그램등록번호<br> 2009-01-129-007667 </p></td>
                                </tr>
                                <tr>
                                  <td align="center" bgcolor="#FFFFFF">3</td>
                                  <td valign="middle" bgcolor="#FFFFFF"><p> 호환적 영상부호화를 위해 하위계층의 부호화정보를 이용한 이동보상  	   상향변환 방법</p></td>
                                  <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 국내발명특허등록번호 175741 </p></td>
                                  </tr>
                                <tr>
                                  <td align="center" bgcolor="#FFFFFF">4</td>
                                  <td valign="middle" bgcolor="#FFFFFF"><p> 디코더 성능기반 비디오 복호화 장치 및 방법</p></td>
                                  <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 국내발명특허등록번호 276686 </p></td>
                                  </tr>

                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="49" background="../../images/pro3/con_bot.gif">&nbsp;</td>
              </tr>
            </table>              </td>
            <td width="88" valign="top"><table width="88" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="179" background="../../images/pro3/right_back.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          
        </table></td>
      </tr>
      <tr>
        <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="81">&nbsp;</td>
            <td><img src="/front/template/images/pro2/s_copy.gif" width="822" height="60"></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
