<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>동의대학교 컴퓨터소프트웨어공학과 홈페이지입니다.</title>
<link href="../../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="flash.js"></script>
<style type="text/css">

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#apDiv1 {
	position:absolute;
	left:72px;
	top:28px;
	width:840px;
	height:70px;
	z-index:1;
}

</style>
<script type="text/javascript">


</script>
</head>

<body onLoad="MM_preloadImages('../../images/pro3/sm03_01bo.gif','../../images/pro3/sm03_02bo.gif','../../images/pro3/sm03_03bo.gif');">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="72">&nbsp;</td>
            <td width="840"><table width="840" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="28" align="right" valign="bottom"><a href="index.html"><img src="/front/template/images/pro3/top_home.gif" width="36" height="16"></a><img src="/front/template/images/pro3/top_contact.gif" width="65" height="16"><a href="06_board01.html"><img src="/front/template/images/pro3/top_notice.gif" width="56" height="16"></a></td>
              </tr>
              <tr>
                <td height="197">
                  <div id="apDiv1">
                    <script>flash('/front/template/images/pro3/menu.swf', '840', '70');</script><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="840" height="70">
                  <param name="movie" value="/front/template/images/pro3/menu.swf">
                  <param name="quality" value="high">
                  <param name="wmode" value="transparent">
                  <param name="menu" value="false">
                  <!-- <embed src="/front/template/images/pro3/menu.swf" width="840" height="70" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" menu="false"> -->
                  </object>
                  </div>
                  <script>flash('/front/template/images/pro3/sub_3.swf', '840', '197');</script><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="840" height="197">
                  <param name="movie" value="/front/template/images/pro3/sub_1.swf">
                  <param name="quality" value="high">
                  <param name="wmode" value="transparent">
                  <param name="menu" value="false">
                  <!-- <embed src="/front/template/images/pro3/sub_1.swf" width="840" height="197" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" menu="false"> -->
                  </object>
                  </td>
              </tr>
            </table></td>
            <td width="88">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="1000"height="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="72" valign="top"><table width="72" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="179" background="../../images/pro3/left_back.gif">&nbsp;</td>
              </tr>
            </table></td>
            <td width="840" valign="top"><table width="840" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="18" background="../../images/pro3/con_top.gif"></td>
              </tr>
              <tr>
                <td background="../../images/pro3/con_mid.gif"><table width="840" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="212" align="center" valign="top"><script type="text/javascript">
                      <!--
                      function MM_swapImgRestore() { //v3.0
                        var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
                      }
                      function MM_preloadImages() { //v3.0
                        var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
                          var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
                          if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
                      }
                      
                      function MM_findObj(n, d) { //v4.01
                        var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
                          d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
                        if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
                        for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
                        if(!x && d.getElementById) x=d.getElementById(n); return x;
                      }
                      
                      function MM_swapImage() { //v3.0
                        var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
                         if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
                      }
                      //-->
                      </script>
                      <table width="169" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                          <td><a href="03_res_03.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','/front/template/images/pro3/sm03.gif',1)"><img src="/front/template/images/pro3/sm03.gif" name="Image6" width="169" height="19" border="0"></a></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="22">&nbsp;</td>
                        </tr>
                        <tr>
                          <td><img src="/front/template/images/pro3/sm_tel.gif" width="169" height="29"></td>
                        </tr>
                      </tbody></table></td>
                    <td align="center" valign="top"><table width="581" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="36" background="../../images/pro3/title_back.gif"><img src="../../images/pro3/tit03.gif" width="202" height="36"></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="581" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="110"><a href="03_res.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image5','','../../images/pro3/sm03_01bo.gif',1)"><img src="../../images/pro3/sm03_01bo.gif" name="Image5" width="100" height="31" border="0"></a></td>
                            <td width="110"><a href="03_res_02.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','../../images/pro3/sm03_04bo.gif',1)"><img src="../../images/pro3/sm03_04b.gif" name="Image6" width="100" height="31" border="0"></a></td>
                            <td><a href="03_res_03.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7','','../../images/pro3/sm03_03bo.gif',1)"><img src="../../images/pro3/sm03_03b.gif" name="Image7" width="100" height="31" border="0"></a></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="581" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="10">&nbsp;</td>
                            <td><span class="tvdate"><img src="../../images/pro3/icon_01.gif" width="16" height="16" align="absmiddle">국외전문학술지</span></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td><table width="571" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
                              <tr>
                                <td align="center" bgcolor="#F4F4F4"><p><strong>논문명</strong></p>                                  </td>
                                <td width="130" align="center" bgcolor="#F4F4F4"><strong>학술지명 </strong></td>
                                <td width="80" align="center" bgcolor="#F4F4F4"><strong>발표일자</strong></td>
                                </tr>
                                                                                        <tr>
                                                                                            <td bgcolor="#FFFFFF">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span lang="EN-US" style="font-family:바탕;mso-font-width:100%;letter-spacing:0pt;mso-text-raise:0pt;background:#ffffff;">Adaptive Simplification of Prediction Modes for H.264 Intra-Picture Coding</span></p>
                                                                                            </td>
                                                                                            <td bgcolor="#FFFFFF">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span lang="EN-US" style="font-family:바탕;mso-font-width:100%;letter-spacing:0pt;mso-text-raise:0pt;background:#ffffff;">IEEE TRANSACTIONS ON BROADCASTING</span></p>
                                                                                            </td>
                                <td align="center" bgcolor="#FFFFFF">2012년 3월</td>
                                                                                        </tr>
							 <tr>

                                                                                            <td height="82" bgcolor="white">Transcoding Method of H.264 Coded Bitstream for Interest Region</td>
                                                                                            <td height="82" bgcolor="white">THE INTERNATIONAL JOURNAL OF VIRTUAL REALITY</td>
                                                                                            <td height="82" align="center" bgcolor="white">2009년 9월</td>
                                </tr>
								<tr>
                              
                                <td bgcolor="#FFFFFF">A Transcoding Method for Improving the Subjective Picture Quality</td>
                                <td bgcolor="#FFFFFF">International Journal of Computer Science and Network Security</td>
                                <td align="center" bgcolor="#FFFFFF">2009년 1월</td>
                                </tr>
								<tr>
                               
                                <td bgcolor="#FFFFFF">An Adaptive Transcoding Method for H.264 Video Coding</td>
                                <td bgcolor="#FFFFFF">International Journal of Computer Science and Network Security</td>
                                <td align="center" bgcolor="#FFFFFF">2008년12월</td>
                                </tr>
                              <tr>
                                
                                <td bgcolor="#FFFFFF">Overview of H.264/MPEG-4 part 10</td>
                                <td bgcolor="#FFFFFF">JOURNAL OF VISUAL COMMUNICATION AND IMAGE REPRESENTATION</td>
                                <td align="center" bgcolor="#FFFFFF">2006년 4월 </td>
                                </tr>
                              <tr>
                                
                                <td bgcolor="#FFFFFF">Joint Bandwidth Allocation for User-Required Picture Quality Ratio Among  	   Multiple Video Sources</td>
                                <td bgcolor="#FFFFFF">IEEE TRANSACTIONS ON BROADCASTING</td>
                                <td align="center" bgcolor="#FFFFFF">2005년 9월 </td>
                                </tr>
                              <tr>
                                
                                <td bgcolor="#FFFFFF">Dynamic Bit-Rate Reduction Based on Requantization and Frame-Skipping for  	   MPEG-1 to MPeg-4 Transcoder&quot; </td>
                                <td bgcolor="#FFFFFF">IEICE TRANSACTION ON FUNDAMENTALS OF ELECTRONICS</td>
                                <td align="center" bgcolor="#FFFFFF">2004년 2월 </td>
                                </tr>
                              <tr>
                               
                                <td bgcolor="#FFFFFF">Bit-rate Control for Uniform Picture Quality within Composed Video Sequence</td>
                                <td bgcolor="#FFFFFF">Optical Engineering</td>
                                <td align="center" bgcolor="#FFFFFF">1998년11월 </td>
                                </tr>
                              <tr>
                               
                                <td bgcolor="#FFFFFF">Adaptive Bitrate Allocation in Spatial Scalable Video Coding for Fixed  	   Total Bitrate</td>
                                <td bgcolor="#FFFFFF">IEICE Trans. on Fundamentals</td>
                                <td align="center" bgcolor="#FFFFFF">1998년 5월 </td>
                                </tr>
                              <tr>
                                
                                <td bgcolor="#FFFFFF">A Motion-Adaptive De-Interlacing Method</td>
                                <td bgcolor="#FFFFFF">IEEE TRANSACTIONS ON CONSUMER ELECTRONICS</td>
                                <td align="center" bgcolor="#FFFFFF">1992년 8월</td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="581" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="10">&nbsp;</td>
                            <td><span class="tvdate"><img src="../../images/pro3/icon_01.gif" width="16" height="16" align="absmiddle">국내전문학술지</span></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td><table width="571" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC" height="2200">
                                <tr>
                                 
                                  <td align="center" bgcolor="#F4F4F4" width="286"><p><strong>논문명</strong></p></td>
                                  <td width="130" align="center" bgcolor="#F4F4F4"><strong>학술지명</strong></td>
                                  <td width="80" align="center" bgcolor="#F4F4F4"><strong>발표일자</strong></td>
                                </tr>
								
								<tr>
                                
                                <td bgcolor="#FFFFFF" width="286">컴퓨터 전공 교육을 위한 캐스케이드 멘토링</td>
                                <td bgcolor="#FFFFFF" width="130">한국산업정보학회논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2015년 10월</td>
                              </tr>
								
								<tr>
                                
                                <td bgcolor="#FFFFFF" width="286">광학문자 인식을 통한 단어 정리 방법</td>
                                <td bgcolor="#FFFFFF" width="130">멀티미디어학회논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2015년 8월</td>
                              </tr>
								
								<tr>
                                
                                <td bgcolor="#FFFFFF" width="286">MQTT와 RTSP를 통한 온실 정보의 실시간 전송 시스템</td>
                                <td bgcolor="#FFFFFF" width="130">멀티미디어학회논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2015년 8월</td>
                              </tr>
								
								<tr>
                                
                                <td bgcolor="#FFFFFF" width="286">증강현실을 이용한 커뮤니티 기반 여행 정보 시스템</td>
                                <td bgcolor="#FFFFFF" width="130">멀티미디어학회논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2015년 2월</td>
                              </tr>
								
								
								<tr>
                                
                                <td bgcolor="#FFFFFF" width="286">깊이 정보를 이용한 원근 왜곡 영상의 보정</td>
                                <td bgcolor="#FFFFFF" width="130">멀티미디어학회논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2015년 2월</td>
                              </tr>
								
								<tr>
                                
                                <td bgcolor="#FFFFFF" width="286">가변 블록크기의 신축 움직임 추정 방법</td>
                                <td bgcolor="#FFFFFF" width="130">방송공학회 논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2014년 11월</td>
                              </tr>
								
								<tr>
                                
                                <td bgcolor="#FFFFFF" width="286">터치기반 드래그를 이용한 키패드 방법</td>
                                <td bgcolor="#FFFFFF" width="130">멀티미디어학회논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2014년 10월</td>
                              </tr>
<tr>
                                
                                <td bgcolor="#FFFFFF" width="286">적응적 신축 움직임 추정 방법</td>
                                <td bgcolor="#FFFFFF" width="130">멀티미디어학회논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2014년 8월</td>
                              </tr>
								
								<tr>
                                
                                <td bgcolor="#FFFFFF" width="286">동영상 재생버튼을 활용한 SNS 마케팅 시스템</td>
                                <td bgcolor="#FFFFFF" width="130">멀티미디어학회논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2014년 2월</td>
                              </tr>
								
								<tr>
                                
                                <td bgcolor="#FFFFFF" width="286">깊이 정보를 이용한 프레젠테이션방법</td>
                                <td bgcolor="#FFFFFF" width="130">공학교육연구</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2013년 5월</td>
                              </tr>
								
								<tr>
                                
                                <td bgcolor="#FFFFFF" width="286">지속적인 기업체 연계 프로젝트 기반의 캡스톤 설계 운영시스템</td>
                                <td bgcolor="#FFFFFF" width="130">공학교육연구</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2013년 5월</td>
                              </tr>
							  
								<tr>
                                
                                <td bgcolor="#FFFFFF" width="286">깊이 정보를 이용한 줌 움직임 추정방법</td>
                                <td bgcolor="#FFFFFF" width="130">멀티미디어학회논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2013년 2월</td>
                              </tr>
								<tr>
                                
                                <td bgcolor="#FFFFFF" width="286">UPnP 기반 지능형 로봇 제어 시스템 구현</td>
                                <td bgcolor="#FFFFFF" width="130">한국정보통신학회논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2012년 10월</td>
                              </tr>
                                                                                        <tr>
 
                                                                                            <td height="82" bgcolor="white" width="286">깊이 정보를 이용한 관심영역의 화질 제어 방법</td>
                                                                                            <td height="82" bgcolor="white" width="130">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="mso-fareast-font-family:바탕;background:#ffffff;">방송공학회논문지</span></p>
                                                                                            </td>
                                                                                            <td height="82" align="center" bgcolor="white" width="80">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span lang="EN-US" style="font-family:바탕;mso-font-width:100%;letter-spacing:0pt;mso-text-raise:0pt;background:#ffffff;">2012</span><span style="mso-fareast-font-family:바탕;background:#ffffff;">년</span><span lang="EN-US" style="font-family:바탕;mso-font-width:100%;letter-spacing:0pt;mso-text-raise:0pt;background:#ffffff;">8</span><span
style="mso-fareast-font-family:바탕;background:#ffffff;">월</span></p>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>

                                                                                            <td height="82" bgcolor="white" width="286">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="mso-fareast-font-family:바탕;background:#ffffff;">깊이 카메라를 이용한 움직임 추정 방법</span></p>
                                                                                            </td>
                                                                                            <td height="82" bgcolor="white" width="130">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="mso-fareast-font-family:바탕;background:#ffffff;">방송공학회논문지</span></p>
                                                                                            </td>
                                                                                            <td height="82" align="center" bgcolor="white" width="80">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span lang="EN-US" style="font-family:바탕;mso-font-width:100%;letter-spacing:0pt;mso-text-raise:0pt;background:#ffffff;">2012</span><span style="mso-fareast-font-family:바탕;background:#ffffff;">년</span><span lang="EN-US" style="font-family:바탕;mso-font-width:100%;letter-spacing:0pt;mso-text-raise:0pt;background:#ffffff;">8</span><span
style="mso-fareast-font-family:바탕;background:#ffffff;">월</span></p>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>

                                                                                            <td height="82" bgcolor="white" width="286">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="mso-fareast-font-family:바탕;background:#ffffff;">셀룰러 오토마타의 천이 파라미터를 이용한 영상의 잡음제거 방법</span></p>
                                                                                            </td>
                                                                                            <td height="82" bgcolor="white" width="130">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="mso-fareast-font-family:바탕;background:#ffffff;">멀티미디어학회논문지</span></p>
                                                                                            </td>
                                                                                            <td height="82" align="center" bgcolor="white" width="80">
2010년11월</td>
                                                                                        </tr>
                                                                                        <tr>

                                                                                            <td height="82" bgcolor="white" width="286">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="mso-fareast-font-family:바탕;background:#ffffff;">양자화 복원 레벨 개수 증대에 의한 부가정보 감소방법</span></p>
                                                                                            </td>
                                                                                            <td height="82" bgcolor="white" width="130">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span style="mso-fareast-font-family:바탕;background:#ffffff;">멀티미디어학회논문지</span></p>
                                                                                            </td>
                                                                                            <td height="82" align="center" bgcolor="white" width="80">
                                                                                                <p class="0" style="background:#ffffff;mso-pagination:none;text-autospace:none;mso-padding-alt:0pt 0pt 0pt 0pt;"><span lang="EN-US" style="font-family:바탕;mso-font-width:100%;letter-spacing:0pt;mso-text-raise:0pt;background:#ffffff;">2010</span><span style="mso-fareast-font-family:바탕;background:#ffffff;">년</span><span lang="EN-US" style="font-family:바탕;mso-font-width:100%;letter-spacing:0pt;mso-text-raise:0pt;background:#ffffff;">8</span><span
style="mso-fareast-font-family:바탕;background:#ffffff;">월</span></p>
                                                                                            </td>
                                                                                        </tr>
								<tr>

                                                                                            <td height="82" bgcolor="white" width="286">네트워크 혼잡 감소를 위한 투명 파일 내려받기 방법</td>
                                                                                            <td height="82" bgcolor="white" width="130">JOURNAL OF THE KOREAN DATA ANALYSIS SOCIETY</td>
                                                                                            <td height="82" align="center" bgcolor="white" width="80">2009년12월 </td>
                              </tr>
							  <tr>
                                
                                <td bgcolor="#FFFFFF" width="286">원격 에너지 저장소를 가진 이동 센서 네트워크를 위한 에너지 수확 체계</td>
                                <td bgcolor="#FFFFFF" width="130">제어&middot;로봇&middot;시스템학회논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2009년12월 </td>
                              </tr>
							  <tr>
                               
                                <td bgcolor="#FFFFFF" width="286">H.264 동영상 부호화에서 관심영역의 주관적 화질 개선 방법</td>
                                <td bgcolor="#FFFFFF" width="130">멀티미디어학회논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2009년 7월 </td>
                              </tr>
							  <tr>
                                
                                <td bgcolor="#FFFFFF" width="286">주관적 관심영역 중요도를 고려한 화면내 예측 간소화 방법</td>
                                <td bgcolor="#FFFFFF" width="130">멀티미디어학회논문지</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2009년 7월 </td>
                              </tr>
							  <tr>
                                
                                <td bgcolor="#FFFFFF" width="286">화면내 부호화를 위한 예측특징 분석</td>
                                <td bgcolor="#FFFFFF" width="130">JOURNAL OF THE KOREAN DATA ANALYSIS SOCIETY</td>
                                <td align="center" bgcolor="#FFFFFF" width="80">2009년 4월</td>
                              </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">양자화 정밀도 향상을 위한 양자화기 성능 분석</td>
                                  <td bgcolor="#FFFFFF" width="130">JOURNAL OF THE KOREAN DATA ANALYSIS SOCIETY</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2008년 8월 </td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">동영상 부호화시스템에서 양자화 특성 분석</td>
                                  <td bgcolor="#FFFFFF" width="130">JOURNAL OF THE KOREAN DATA ANALYSIS SOCIETY</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2008년 2월 </td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">이진공간분할(BSP)과 잠재적가시공간(PVS) 알고리즘을 이용한 실내랜더링 속도 개선 방법</td>
                                  <td bgcolor="#FFFFFF" width="130">멀티미디어학회 논문지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2008년 1월 </td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">H.264 부호화시스템에서 간단한 비트열 변환 기법</td>
                                  <td bgcolor="#FFFFFF" width="130">멀티미디어학회 논문지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2006년 7월</td>
                                </tr>
                                <tr>
                                 
                                  <td bgcolor="#FFFFFF" width="286">Picture Quality Control by priority among Multiple Video Sources</td>
                                  <td bgcolor="#FFFFFF" width="130">멀티미디어학회 논문지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2005년 6월 </td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">인터넷 기반 비디오 워터마킹 시스템 구현에 관한 연구</td>
                                  <td bgcolor="#FFFFFF" width="130">영상미디어논문지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2004년 2월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">An Implementation of Web-based Stepwise Learning System for the  	   Mathematical Problems</td>
                                  <td bgcolor="#FFFFFF" width="130">멀티미디어학회 논문지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2003년 7월</td>
                                </tr>
                                <tr>
                                 
                                  <td bgcolor="#FFFFFF" width="286">MPEG-4 Fine Granular Scalability 기술을 이용한 차세대 비디오 스트리밍 시스템</td>
                                  <td bgcolor="#FFFFFF" width="130">한국멀티미디어학회지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2003년12월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">.NET 기술 동향</td>
                                  <td bgcolor="#FFFFFF" width="130">멀티미디어학회 학회지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2003년 3월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">선택적 영상부호화를 위한 매크로 블록단위의 변화영역 검출방법</td>
                                  <td bgcolor="#FFFFFF" width="130">한국통신학회 논문지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2003년 2월 </td>
                                </tr>
                                <tr>
                                 
                                  <td bgcolor="#FFFFFF" width="286">공간계층형 영상부호화에서 상위계층 영상간 부호화율 배분방법</td>
                                  <td bgcolor="#FFFFFF" width="130">정보과학회 논문지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2002년12월</td>
                                </tr>
                                <tr>
                                
                                  <td bgcolor="#FFFFFF" width="286">가상강의 시스템에서의 SMIL 2.0 활용</td>
                                  <td bgcolor="#FFFFFF" width="130">멀티미디어학회학회지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80"> 2002년12월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">선형 행렬 부동식 방법을 이용한 신뢰 제어</td>
                                  <td bgcolor="#FFFFFF" width="130">동의대학교 정보통신연구지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2002년12월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">DCT영역에서의 MPEG 비디오 편집 기술</td>
                                  <td bgcolor="#FFFFFF" width="130">멀티미디어학회학회지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2002년 9월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">신경회로망을 이용한 ATM 연결 수락제어를 위한 효율적인 학습패턴 처리 기법</td>
                                  <td bgcolor="#FFFFFF" width="130">정보처리학회 논문지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2002년 4월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">모바일 인터넷 서비스 동향</td>
                                  <td bgcolor="#FFFFFF" width="130">멀티미디어학회학회지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2002년 4월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">디스크 드라이브의 진동량 측정 방법</td>
                                  <td bgcolor="#FFFFFF" width="130">동의대학교 동의논집</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2002년 3월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">동영상 신호원간 균등화질 제어방법</td>
                                  <td bgcolor="#FFFFFF" width="130">한국통신학회논문지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2002년 2월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">부호화 화면간 일정화질을 위한 비트율 할당방법</td>
                                  <td bgcolor="#FFFFFF" width="130">동의대학교 동의논집</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2002년 2월</td>
                                </tr>
                                <tr>
                                 
                                  <td bgcolor="#FFFFFF" width="286">UML을 이용한 소프트웨어 개발</td>
                                  <td bgcolor="#FFFFFF" width="130">UML을 이용한 소프트웨어 개발</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2001년12월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">다수의 영상신호원간 결합 부호화율 할당방법</td>
                                  <td bgcolor="#FFFFFF" width="130">한국멀티미디어학회논문지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2000년 6월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">MPEG 영상신호의 저장 및 통신을 위한 대역할당방법</td>
                                  <td bgcolor="#FFFFFF" width="130">한국멀티미디어학회학회지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">2000년 6월</td>
                                </tr>
                                <tr>
                                 
                                  <td bgcolor="#FFFFFF" height="45" width="286">서로 다른 공간해상도의 두계층 영상신호원들을 위한 대역할당방법</td>
                                  <td bgcolor="#FFFFFF" height="45" width="130">한국멀티미디어학회논문지</td>
                                  <td align="center" bgcolor="#FFFFFF" height="45" width="80">2000년 4월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">공간계층형 영상부호화에서 상위계층의 움직임 복잡도 감소화 방법</td>
                                  <td bgcolor="#FFFFFF" width="130">한국방송공학회논문지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">1998년12월</td>
                                </tr>
                                <tr>
                                  
                                  <td bgcolor="#FFFFFF" width="286">다중점 영상회의를 위한 적응적 부호화율 제어방법</td>
                                  <td bgcolor="#FFFFFF" width="130">한국통신학회논문지</td>
                                  <td align="center" bgcolor="#FFFFFF" width="80">1998년 9월 </td>
                                </tr>
                                                                                        <tr>
                         
                                  <td bgcolor="#FFFFFF" width="286">디지털 TV방송을 위한 저지연 intra-slice 영상부호화방식의 개선방법</td>
                                  <td bgcolor="#FFFFFF" width="130">한국통신학회눈문지</td>
                                                                                            <td align="center" bgcolor="#FFFFFF" width="80">1994년12월</td>
                                                                                        </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="49" background="../../images/pro3/con_bot.gif">&nbsp;</td>
              </tr>
            </table>              </td>
            <td width="88" valign="top"><table width="88" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="179" background="../../images/pro3/right_back.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          
        </table></td>
      </tr>
      <tr>
        <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="81">&nbsp;</td>
            <td><img src="/front/template/images/pro2/s_copy.gif" width="822" height="60"></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
