<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>동의대학교 컴퓨터소프트웨어공학과 홈페이지입니다.</title>
<link href="../../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="flash.js"></script>
<style type="text/css">

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#apDiv1 {
	position:absolute;
	left:72px;
	top:28px;
	width:840px;
	height:70px;
	z-index:1;
}

</style>
<script type="text/javascript">

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

</script>
</head>

<body onLoad="MM_preloadImages('../../images/pro3/s04_bt01o.gif','../../images/pro3/s04_bt02o.gif')">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="72">&nbsp;</td>
            <td width="840"><table width="840" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="28" align="right" valign="bottom"><a href="index.html"><img src="/front/template/images/pro3/top_home.gif" width="36" height="16"></a><img src="/front/template/images/pro3/top_contact.gif" width="65" height="16"><a href="06_board01.html"><img src="/front/template/images/pro3/top_notice.gif" width="56" height="16"></a></td>
              </tr>
              <tr>
                <td height="197">
                  <div id="apDiv1">
                    <script>flash('/front/template/images/pro3/menu.swf', '840', '70');</script><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="840" height="70">
                  <param name="movie" value="/front/template/images/pro3/menu.swf">
                  <param name="quality" value="high">
                  <param name="wmode" value="transparent">
                  <param name="menu" value="false">
                  <!-- <embed src="/front/template/images/pro3/menu.swf" width="840" height="70" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" menu="false"> -->
                  </object>
                  </div>
                  <script>flash('/front/template/images/pro3/sub_4.swf', '840', '197');</script><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="840" height="197">
                  <param name="movie" value="/front/template/images/pro3/sub_1.swf">
                  <param name="quality" value="high">
                  <param name="wmode" value="transparent">
                  <param name="menu" value="false">
                  <!-- <embed src="/front/template/images/pro3/sub_1.swf" width="840" height="197" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" menu="false"> -->
                  </object>
                  </td>
              </tr>
            </table></td>
            <td width="88">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="1000"height="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="72" valign="top"><table width="72" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="179" background="../../images/pro3/left_back.gif">&nbsp;</td>
              </tr>
            </table></td>
            <td width="840" valign="top"><table width="840" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="18" background="../../images/pro3/con_top.gif"></td>
              </tr>
              <tr>
                <td background="../../images/pro3/con_mid.gif"><table width="840" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="212" align="center" valign="top"><script type="text/javascript">
                      <!--
                      function MM_swapImgRestore() { //v3.0
                        var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
                      }
                      function MM_preloadImages() { //v3.0
                        var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
                          var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
                          if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
                      }
                      
                      function MM_findObj(n, d) { //v4.01
                        var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
                          d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
                        if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
                        for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
                        if(!x && d.getElementById) x=d.getElementById(n); return x;
                      }
                      
                      function MM_swapImage() { //v3.0
                        var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
                         if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
                      }
                      //-->
                      </script>
                      <table width="169" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                          <td><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','/front/template/images/pro3/sm04.gif',1)"><img src="/front/template/images/pro3/sm04.gif" name="Image6" width="169" height="19" border="0"></a></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="22">&nbsp;</td>
                        </tr>
                        <tr>
                          <td><img src="/front/template/images/pro3/sm_tel.gif" width="169" height="29"></td>
                        </tr>
                      </tbody></table></td>
                    <td align="center" valign="top"><table width="581" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="36" background="../../images/pro3/title_back.gif"><img src="../../images/pro3/tit04.gif" width="225" height="36"></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <!--<tr>
                        <td><a href="04_sma.php" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','../../images/pro3/s04_bt01o.gif',1)"><img src="../../images/pro3/s04_bt01o.gif" name="Image2" width="130" height="31" border="0"></a><a href="04_sma02.php" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','../../images/pro3/s04_bt02o.gif',1)">&nbsp;</a></td>
                      </tr>
                      <tr>
                        <td height="2" bgcolor="#2375A4"></td>
                      </tr> -->
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="571" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
                          <tr>
                            <td width="30" align="center" bgcolor="#F4F4F4"><strong>순번</strong></td>
                            <td align="center" bgcolor="#F4F4F4"><p><strong>봉사명</strong></p></td>
                            <td width="100" align="center" bgcolor="#F4F4F4"><strong>역할</strong></td>
                            <td width="60" align="center" bgcolor="#F4F4F4"><strong>기간</strong></td>
                            </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">1</td>
                            <td bgcolor="#FFFFFF"> 벤처재기심의 </td>
                            <td align="center" bgcolor="#FFFFFF"> 심의위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2007.3. ~ </td>
                            </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">2</td>
                            <td bgcolor="#FFFFFF"> 이노비즈인증 코칭사업 코치 </td>
                            <td align="center" bgcolor="#FFFFFF"> 코치위원 </td>
                            <td align="center" bgcolor="#FFFFFF"><p> 2007.3. ~ </p>                              </td>
                            </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">3</td>
                            <td bgcolor="#FFFFFF"> 공학교육인증 평가 </td>
                            <td align="center" bgcolor="#FFFFFF"> 평가위원 </td>
                            <td align="center" bgcolor="#FFFFFF">  2008.3. ~ </td>
                            </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">4</td>
                            <td bgcolor="#FFFFFF"> 신기술아이디어 사업화 타당성 평가 </td>
                            <td align="center" bgcolor="#FFFFFF"> 평가위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2007.5. ~ </td>
                            </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">5</td>
                            <td bgcolor="#FFFFFF"> 미활용기술 발굴 이전 평가 </td>
                            <td align="center" bgcolor="#FFFFFF"> 평가위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2007.5. ~ </td>
                            </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">6</td>
                            <td bgcolor="#FFFFFF"> 공공특허 평가 </td>
                            <td align="center" bgcolor="#FFFFFF"> 평가위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2007.5. ~ </td>
                          </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">7</td>
                            <td bgcolor="#FFFFFF"> 현장맞춤형 기술개발과제 평가 </td>
                            <td align="center" bgcolor="#FFFFFF"> 평가위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2007.5. ~ </td>
                          </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">8</td>
                            <td bgcolor="#FFFFFF"> 산학공동기술혁신사업 평가 </td>
                            <td align="center" bgcolor="#FFFFFF"> 평가위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2007.5. ~ </td>
                          </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">9</td>
                            <td bgcolor="#FFFFFF"> 과학재능반 대상 과학기술 정보화 강연 </td>
                            <td align="center" bgcolor="#FFFFFF"> 강사 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2007.10. ~ </td>
                          </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">10</td>
                            <td bgcolor="#FFFFFF"> 중소기업 기술혁신 소그룹 지원 심의 </td>
                            <td align="center" bgcolor="#FFFFFF"> 심의위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2007.3. ~ </td>
                          </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">11</td>
                            <td bgcolor="#FFFFFF"> 기술보증기금 기술자문 </td>
                            <td align="center" bgcolor="#FFFFFF"> 자문위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2001.3. ~ </td>
                          </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">12</td>
                            <td bgcolor="#FFFFFF"> 정보통신연구개발과제 평가 </td>
                            <td align="center" bgcolor="#FFFFFF"> 평가위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2001.3. ~ </td>
                          </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">13</td>
                            <td bgcolor="#FFFFFF"> 부산글로벌 IT 교육센터 장비구축 검수 및 심사 </td>
                            <td align="center" bgcolor="#FFFFFF"> 평가위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2001.3. ~ </td>
                          </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">14</td>
                            <td bgcolor="#FFFFFF"> 벤처기업 재확인을 위한 기술 평가 </td>
                            <td align="center" bgcolor="#FFFFFF"> 평가위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2001.3. ~ </td>
                          </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">15</td>
                            <td bgcolor="#FFFFFF"> 기술개발공동지원 사업 평가 </td>
                            <td align="center" bgcolor="#FFFFFF"> 평가위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2001.3. ~ </td>
                          </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">16</td>
                            <td bgcolor="#FFFFFF"> 벤처기업 사후관리 평가 </td>
                            <td align="center" bgcolor="#FFFFFF"> 평가위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2001.3. ~ </td>
                          </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">17</td>
                            <td bgcolor="#FFFFFF"> 중소기업정보화촉진지역 포털사이트 평가 </td>
                            <td align="center" bgcolor="#FFFFFF"> 평가위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2001.3. ~ </td>
                          </tr>
                          <tr>
                            <td align="center" bgcolor="#FFFFFF">18</td>
                            <td bgcolor="#FFFFFF"> 신기술창업보육 사업자 선정 </td>
                            <td align="center" bgcolor="#FFFFFF"> 심의위원 </td>
                            <td align="center" bgcolor="#FFFFFF"> 2001.3. ~ </td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="49" background="../../images/pro3/con_bot.gif">&nbsp;</td>
              </tr>
            </table>              </td>
            <td width="88" valign="top"><table width="88" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="179" background="../../images/pro3/right_back.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          
        </table></td>
      </tr>
      <tr>
        <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="81">&nbsp;</td>
            <td><img src="/front/template/images/pro2/s_copy.gif" width="822" height="60"></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
