<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>동의대학교 컴퓨터소프트웨어공학과 홈페이지입니다.</title>
<link href="../../css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="flash.js"></script>
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#apDiv1 {
	position:absolute;
	left:72px;
	top:28px;
	width:840px;
	height:70px;
	z-index:1;
}
</style>
<script type="text/javascript">

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

</script>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="72">&nbsp;</td>
            <td width="840"><table width="840" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="28" align="right" valign="bottom"><a href="index.html"><img src="/front/template/images/pro3/top_home.gif" width="36" height="16"></a><img src="/front/template/images/pro3/top_contact.gif" width="65" height="16"><a href="06_board01.html"><img src="/front/template/images/pro3/top_notice.gif" width="56" height="16"></a></td>
              </tr>
              <tr>
                <td height="197">
                  <div id="apDiv1">
                    <script>flash('/front/template/images/pro3/menu.swf', '840', '70');</script><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="840" height="70">
                  <param name="movie" value="/front/template/images/pro3/menu.swf">
                  <param name="quality" value="high">
                  <param name="wmode" value="transparent">
                  <param name="menu" value="false">
                  <!-- <embed src="/front/template/images/pro3/menu.swf" width="840" height="70" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" menu="false"> -->
                  </object>
                  </div>
                  <script>flash('/front/template/images/pro3/sub_5.swf', '840', '197');</script><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="840" height="197">
                  <param name="movie" value="/front/template/images/pro3/sub_1.swf">
                  <param name="quality" value="high">
                  <param name="wmode" value="transparent">
                  <param name="menu" value="false">
                  <!-- <embed src="/front/template/images/pro3/sub_1.swf" width="840" height="197" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" menu="false"> -->
                  </object>
                  </td>
              </tr>
            </table></td>
            <td width="88">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="1000"height="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="72" valign="top"><table width="72" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="179" background="../../images/pro3/left_back.gif">&nbsp;</td>
              </tr>
            </table></td>
            <td width="840" valign="top"><table width="840" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="18" background="../../images/pro3/con_top.gif"></td>
              </tr>
              <tr>
                <td background="../../images/pro3/con_mid.gif"><table width="840" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="212" align="center" valign="top"><script type="text/javascript">
                      <!--
                      function MM_swapImgRestore() { //v3.0
                        var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
                      }
                      function MM_preloadImages() { //v3.0
                        var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
                          var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
                          if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
                      }
                      
                      function MM_findObj(n, d) { //v4.01
                        var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
                          d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
                        if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
                        for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
                        if(!x && d.getElementById) x=d.getElementById(n); return x;
                      }
                      
                      function MM_swapImage() { //v3.0
                        var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
                         if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
                      }
                      //-->
                      </script>
                      <table width="169" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                          <td><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','/front/template/images/pro3/sm05.gif',1)"><img src="/front/template/images/pro3/sm05.gif" name="Image6" width="169" height="19" border="0"></a></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="22">&nbsp;</td>
                        </tr>
                        <tr>
                          <td><img src="/front/template/images/pro3/sm_tel.gif" width="169" height="29"></td>
                        </tr>
                      </tbody></table></td>
                    <td align="center" valign="top"><table width="581" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="36" background="../../images/pro3/title_back.gif"><img src="../../images/pro3/tit05.gif" width="176" height="36"></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table width="571" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
                          <tr>
                            <td width="110" align="center" bgcolor="#F4F4F4"><p><strong>연구기간</strong></p></td>
                            <td align="center" bgcolor="#F4F4F4"><strong>과제명</strong></td>
                            <td width="100" align="center" bgcolor="#F4F4F4"><strong>지원기관</strong></td>
                            </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 2009.06~2010.03 </p></td>
                            <td valign="middle" bgcolor="#FFFFFF"><p> 선박 배선 생산 정보 시스템 </p></td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 정부/정부투자(산하)기관 </p></td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 2007.08 ~ 2009.01 </p></td>
                            <td valign="middle" bgcolor="#FFFFFF"><p> 멀티 미디어를 활용한 대화형 리듬교육시스템 </p></td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 정부/정부투자(산하)기관 </p></td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 2005.07 ~ 2006.06 </p></td>
                            <td valign="middle" bgcolor="#FFFFFF"><p>악보 및 박자, 음정인식을 이용한 대화형 멀티미디어 음악교육 시스템 </p></td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 정부/정부투자(산하)기관 </p></td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 2005.05 ~ 2006.04 </p></td>
                            <td valign="middle" bgcolor="#FFFFFF"><p> 이기종 영상서비스를 위한 영상압축스트림 변환 기술 </p></td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p>&nbsp;</p></td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 2005.03 ~ 2005.06 </p></td>
                            <td valign="middle" bgcolor="#FFFFFF"><p> 디지털 영상신호의 보호방안에 관한 연구</p></td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 정부/정부투자(산하)기관 </p></td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 2004.11 ~ 2004.12 </p></td>
                            <td valign="middle" bgcolor="#FFFFFF"><p> 공학교육과정개편지원사업 추진에 관한 연구</p></td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p>&nbsp;</p></td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 2004.11 ~ 2005.01 </p></td>
                            <td valign="middle" bgcolor="#FFFFFF"><p> 방송, 통신융합 환경을 고려한 Error Resilient Video Transcoding 툴 </p></td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 정부/정부투자(산하)기관 </p></td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 2004.09 ~ 2004.12 </p></td>
                            <td valign="middle" bgcolor="#FFFFFF"><p> 차세대 네트웍 환경에 관한 연구 </p></td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"><p> 정부/정부투자(산하)기관 </p></td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">2003.04 ~ 2004.03 </td>
                            <td valign="middle" bgcolor="#FFFFFF">골밀도 3차원 영상신호처리 기술 개발 </td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">민간기업체</td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">2003.03 ~ 2003.12 </td>
                            <td valign="middle" bgcolor="#FFFFFF">소프트웨어공학 전공의 실험실습과목 개편 방안</td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">동의대학교</td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">2002.04 ~ 2003.01 </td>
                            <td valign="middle" bgcolor="#FFFFFF">소프트웨어공학전공 교과과정 개선방에 관한 연구 </td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">동의대학교</td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">2002.01 ~ 2002.09 </td>
                            <td valign="middle" bgcolor="#FFFFFF">인터넷상의 VOD 서비스용 비디오 워터마킹 기술 연구 </td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">정부/정부투자(산하)기관 </td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">1990. 8 ~ 1993. 11 </td>
                            <td valign="middle" bgcolor="#FFFFFF">DVCR을 위한 비디오영상 압축 및 보호기법 연구 개발</td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">LG전자</td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF"> 1993. 4 ~ 1994. 12 </td>
                            <td valign="middle" bgcolor="#FFFFFF">가변전송매체를 위한 고성능 영상압축 및 통신방식 연구</td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">한국통신</td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">1994. 1. ~ 1994. 12 </td>
                            <td valign="middle" bgcolor="#FFFFFF">MPEG 호환 비디오코덱 개발</td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">삼성전자</td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">1994. 3. ~ 1994. 12 </td>
                            <td valign="middle" bgcolor="#FFFFFF">디지털 TV/ 고선명 TV 호환방식 성능 분석</td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">ETRI</td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">1995. 5 ~ 1997. 4 </td>
                            <td valign="middle" bgcolor="#FFFFFF">MPEG-1 호환형 S/W 부호화기의 구현에 관한 연구</td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">정보통신부</td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">1996. 5 ~ 1996. 12 </td>
                            <td valign="middle" bgcolor="#FFFFFF">ATM망을 위한 영상부호화/다중화 통합 제어방안 연구</td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">한국통신</td>
                          </tr>
                          <tr>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">1998. 2 ~ 1998. 8 </td>
                            <td valign="middle" bgcolor="#FFFFFF">MPEG-4 기반 멀티미디어 코덱개발</td>
                            <td align="center" valign="middle" bgcolor="#FFFFFF">정보통신부</td>
                          </tr>

                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="49" background="../../images/pro3/con_bot.gif">&nbsp;</td>
              </tr>
            </table>              </td>
            <td width="88" valign="top"><table width="88" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="179" background="../../images/pro3/right_back.gif">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          
        </table></td>
      </tr>
      <tr>
        <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="81">&nbsp;</td>
            <td><img src="/front/template/images/pro2/s_copy.gif" width="822" height="60"></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
